[2020-03-23 12:22] rajats98 opened #1 "Suggest a new logo for our Crop-Ai organization"
# Suggest a new logo for our Crop-Ai organization

**This is an open Issue** - This issue will not be assigned, anyone can work on this

### Guidelines
1. Profile picture should be a PNG, JPG, or GIF file under 1 MB in size. For the best quality rendering, we recommend keeping the image at 500 by 500 pixels.
1. Explain your design.
1. Mention How is it better than the earlier one(if any selected)

[2020-03-23 18:02] abhu-A-J commented on #1
@rajats98 Can I work on this??

[2020-03-29 13:00] vipuldcoder opened #3 "Create CONTRIBUTE.md"
Is your feature request related to a problem? Please describe.
This is feature which help new contributor to understand how they can contribute project and how we can help this project more effect and do understand what this project really is and how we can get started. Let's get started with making this project more better 👍

Describe the solution you'd like
Build a Document CONTRIBUTE.md that he

[2020-03-30 09:20] rajats98 opened #4 "Create Web design(UI design)"
## Web Design
### Create UI design in any _designing_ software (no restrictions on software, can be online/offline)

We need 1-3 pages i.e.

- [x] **Landing/Cover Page**
          Depends on your creativity, you can add a description, animation, or anything you feel
          relevant

- [x] **Input form**
          This form contains only one required input field, that takes an image of leaf as i

[2020-03-30 09:32] abhushanaj commented on #4
@rajats98 Sir May I try this? I want to do the landing page.

[2020-03-30 10:03] rajats98 commented on #4
Yes, I am assigning it to you.

If anyone else also want to work on whole or on other parts may comment.It be will assigned to them also.

[2020-03-30 18:58] rajats98 opened #5 "Update README.md"
Add a brief introduction and working of application. Write basic working, it will be properly updated later on with screenshots.

Add links to backend and data-modeling repos (give overview of each repo, if possible).

Also mention about Gssoc in the intro or separately.

Refer to #4 to get some idea.

[2020-03-30 19:03] rajats98 commented on #3
Anybody interested in working on this?
Pick any generic CONTRIBUTE.md update it corresponding to our project.
Add Gssoc details(marking, labeling) and also tell about only Gssoc participants are allowed to work on this repo(may be in the beginning of file).

[2020-03-31 05:14] Sapna2001 commented on #5
Will the resources be provided to write the working of the application, etc.

[2020-03-31 05:27] rajats98 commented on #5
@Sapna2001, for now just write about input and output. (see #4 for input and result)

[2020-03-31 05:27] Sapna2001 commented on #5
I would like to work on this issue. Please assign me this issue

[2020-03-31 05:29] rajats98 commented on #5
@Sapna2001 ,Assigned this issue to you.

[2020-03-31 10:08] goyalmuskan commented on #4
Sir, may I try this as well? @rajats98

[2020-03-31 10:17] rajats98 commented on #4
@goyalmuskan Sure, assigning this to you too, please reply on which parts you are going to work( input/result or whole) before starting.

Submit it by tomorrow evening, or latest by night.

[2020-03-31 10:19] rajats98 commented on #4
@abhu-A-J Are you still working on this, if you are please submit it by today.

[2020-03-31 10:21] abhushanaj commented on #4
Yes Sir, I am but can I submit by tomorrow morning? I'll try to submit by tonight as first priority definitely

[2020-03-31 10:26] rajats98 commented on #4
Great @abhu-A-J

[2020-03-31 11:57] Adyasha8105 commented on #4
@rajats98 Please Sir, Can I try this?

[2020-03-31 12:38] rajats98 commented on #4
@Adyasha8105, Yes I am assigning it you also, Please mention on what parts(great if all) do you want to work.
And start working if you think you can submit it by tomorrow.

[2020-03-31 14:57] rajats98 opened #7 "Basic setup"
- [ ] Create a folder named src
- [ ] Inside src create index.html, style.css, script.js
- [ ] Put basic html template in index.html, and link style and script to it.

[2020-03-31 15:09] Sapna2001 commented on #7
I would like to this. Please assign me this issue.

[2020-03-31 15:10] Mansi145 commented on #3
Seems interesting. Can I work on this issue?

[2020-03-31 15:40] rajats98 commented on #3
Sure, Assigning it you @Mansi145

[2020-03-31 17:40] #5 closed

[2020-03-31 18:23] #7 closed

[2020-03-31 18:56] rajats98 opened #13 "Add details about Data Modelling in Frontend/README"
Update Frontend/README.md

Under heading IMPORTANT LINKS, add details about data-modeling repo in brief (tech-stack, techniques, dataset etc.),  give it a heading (eg. Data-Modeling)
the link to repo should be there

[2020-03-31 19:04] scortier commented on #13
@rajats98  Sir, I want to work on this issue, So please assign me this issue.

[2020-03-31 19:16] rajats98 commented on #13
@Adyasha8105, you need to comment here so that I can assign

[2020-03-31 19:40] Adyasha8105 commented on #13
Please assign this task to me?

[2020-04-01 08:05] goyalmuskan commented on #4
@rajats98 The landing page

[2020-04-01 08:12] rajats98 commented on #4
@goyalmuskan make a PR with relevant images/screenshot and resources, under Web designs directory design 2, or design 3 folder, which is available). You may refer #9, #10 , #11.
If there is any confusion or issue, please let me know!

[2020-04-01 12:37] rajats98 commented on #4
@goyalmuskan @Adyasha8105 Submit your work tonight(or tomorrow till 8-9 AM).

[2020-04-02 02:32] rajats98 opened #18 "Create required directories"
1. Create folders as per this folder structure
[code]

2. Rename style.css and script.js to index.js and index.css and move both files to assets.
And update index.html accordingly.

[2020-04-02 03:27] abhushanaj commented on #18
@rajats98 I'll do this

[2020-04-02 03:33] rajats98 commented on #18
Assigned to you! @abhu-A-J

[2020-04-02 03:34] abhu-A-J commented on #18
What should I do with webdesigns folder?? Leave it as it is??

[2020-04-02 04:04] #4 closed

[2020-04-02 04:17] rajats98 commented on #3
@Mansi145 Submit it by tomorrow!

[2020-04-02 04:40] #18 closed

[2020-04-02 06:32] rajats98 opened #20 "Basic structure"
**../src/index.html**

create a divs as described

[code]
i.e. one div enclosing 3 divs

[2020-04-02 06:36] abhushanaj commented on #20
@rajats98 Sir May I do this?

[2020-04-02 06:39] Sapna2001 commented on #20
Can I work on this?

[2020-04-02 06:45] rajats98 opened #21 "Add a class (CSS)"
add a class name _**hidden**_  in ../src/assets/index.css
it, when added to any div, should hide that div ( it must hide the div, as it is removed, after hiding it should not take space)

[2020-04-02 06:47] abhishekgupta368 commented on #21
i can do it

[2020-04-02 06:47] annu12340 commented on #1
I would like to work on this. Please assign it to me

[2020-04-02 06:54] rajats98 opened #22 "Add jQuery"
download latest stable version jQuery **(min, not slim)** and save it to ../src/lib and add it to ../src/index.html
Or
Add using jquery CDN

[2020-04-02 06:59] rajats98 opened #23 "Add bootstrap"
add latest Bootstrap CDN to
src/index.html
src/landing pages/landing-pages-2/landing2.html
src/landing pages/landing-pages-3/landing3.html

[2020-04-02 07:02] rajats98 commented on #20
@abhu-A-J assigning it to you, do it before 2pm

[2020-04-02 07:03] Sapna2001 commented on #23
Can I work on this?

[2020-04-02 07:03] rajats98 commented on #21
@abhishekgupta368 Assigning this to you, complete it before 2pm today.

[2020-04-02 07:04] rajats98 commented on #23
yes, assigning it to you @Sapna2001, do it before 2pm

[2020-04-02 07:09] rajats98 commented on #1
@annu12340
Go for it, Make a PR... this issue is open and you can submit PR without assignment. :)
Just read the guidelines carefully.
Also, give a tentative date/time of submission.

[2020-04-02 07:16] Adyasha8105 commented on #22
Can you assign this to me?

[2020-04-02 07:18] rajats98 commented on #22
yes sure, @Adyasha8105 assigning it you, prefer 1st option

[2020-04-02 07:27] #20 closed

[2020-04-02 07:40] rajats98 opened #25 "create Background for landing page2"
refer landing page of **design-2** in **Web Designs**

Create almost the same background as you see in the picture, find the resources in design-2 folder itself. **(do not create any button, links, text)**

[2020-04-02 07:41] rajats98 opened #26 "create Background for landing page3"
refer landing page of **design-3** in **Web Designs**

Create almost the same background as you see in the picture, find the resources in design-3 folder itself. **(do not create any button, links, text)**

[2020-04-02 07:41] abhushanaj commented on #25
@rajats98 Sir Can I do this?

[2020-04-02 07:41] annu12340 commented on #25
I would like to work on this

[2020-04-02 07:43] annu12340 commented on #26
I would like to work on this

[2020-04-02 07:44] annu12340 commented on #1
ok thanks :)

[2020-04-02 07:45] rajats98 commented on #25
Yes, Assigned to you @abhu-A-J

[2020-04-02 07:47] rajats98 commented on #26
@annu12340, Assigning this issue to you

[2020-04-02 07:50] rajats98 commented on #26
Make sure your it occupies whole screen, and no scrolling should be there

[2020-04-02 07:51] rajats98 commented on #25
Make sure your it occupies the whole screen, and no scrolling should be there

[2020-04-02 08:01] rajats98 opened #28 "Update background of index.html"
Refer the landing page of **design-1** in **Web Designs**

Create almost the same background as you see in the picture, find the resources in design-1 folder itself. (do not create any button, links, text),i.e only the leaves, glass and bg color to be updated.

**Make sure your it occupies whole screen, and no scrolling should be there.
Do not touch the 3 internal divs leave them as it is work on

[2020-04-02 08:03] abhishekgupta368 commented on #28
i can do it

[2020-04-02 08:12] darkmatter18 commented on #28
@rajats98 I can complete it. Can I work on it.

[2020-04-02 08:13] #21 closed

[2020-04-02 08:14] abhishekgupta368 commented on #28
already commented and completed my task, can you assign me

[2020-04-02 08:15] Sulekhiya commented on #13
@Adyasha8105  are you still working on this issue?

[2020-04-02 08:16] Adyasha8105 commented on #28
Can you assign this task to me?

[2020-04-02 08:17] abhushanaj commented on #25
@rajats98
Sir just to clarify, I should change landing2.html page and not the main index.html page.??
Also the images on the right of farmers comes as background?? Because background is just white in color??

[2020-04-02 08:18] rajats98 commented on #28
@abhishekgupta368 assigning it to you, More issues to come don't panic guys!!

[2020-04-02 08:28] Adyasha8105 commented on #13
Yes

[2020-04-02 08:30] Adyasha8105 commented on #13
@rajats98 I have a doubt regarding this:
Data-modeling repo in brief (tech-stack, techniques, dataset etc.)
How to get all this?

[2020-04-02 08:44] kichloo opened #32 "PR template"
The PR template helps the reviewer to go through the changes made by the contributor rather than going through lines of codes to find it. I can design a PR template according to the structure of CropAi project. It can have Easy/ Medium as the Labels.

[2020-04-02 08:45] kichloo commented on #32
@rajats98 Can I work on it?

[2020-04-02 08:47] darkmatter18 commented on #32
@kichloo can I work on it?

[2020-04-02 09:01] Adyasha8105 commented on #26
@rajats98 Can I work on this issue?

[2020-04-02 09:08] #22 closed

[2020-04-02 09:11] Adyasha8105 commented on #13
@rajats98 Sir, can you tell me how to do this?

[2020-04-02 10:58] Sulekhiya commented on #1
Hello @annu12340  Please give tentative time of submission

[2020-04-02 11:02] Sulekhiya commented on #13
You have to give a brief yourself. You can look our Slack channel for our timeline which contains tech-stacks techniques etc.

[2020-04-02 11:04] #23 closed

[2020-04-02 13:05] annu12340 commented on #1
I would do it by tommorrow

[2020-04-02 13:14] rajats98 commented on #32
@kichloo assigning it to you

[2020-04-02 13:36] #25 closed

[2020-04-02 13:56] Sulekhiya opened #35 "Add jQuery to both landing pages"
src/landing pages/ landing-2 and landing-3
Add jQuery in both html files above the bootstrap script tag.
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

[2020-04-02 13:56] abhushanaj commented on #35
@Sulekhiya Sir May I do this??

[2020-04-02 14:03] Sulekhiya opened #36 "Add content in landing page 2"
Add heading and button in landing-page2
(/src/landing pages/landing-page-2/landing2.html)
Remember, do not alter the background and button should be dummy.
Make sure the page remains not scrollable.

--refer landing page in Web Designs/design-2/

[2020-04-02 14:05] Adyasha8105 commented on #36
I want to work on this issue

[2020-04-02 14:07] rajats98 commented on #36
@Adyasha8105 Assigning this to you!

[2020-04-02 14:10] Sapna2001 commented on #35
Can I work on this?

[2020-04-02 14:11] rajats98 commented on #35
@abhu-A-J assign this to you

[2020-04-02 14:20] #35 closed

[2020-04-02 17:19] rajats98 opened #40 "directory structure, current logo and correcting readme"
- [ ] Create a new folder in root directory named **designs**
- [ ] Move Web Designs and logo-design to **designs**
- [ ] in logo-designs create a folder submitted-logos
- [ ] move all logos(except gssoc) into submitted-logos
- [ ] Now copy logo logodesign-2.png to logo-designs and rename logo corpAi-logo.png
- [ ] Update logo source in README.md

folder structure should look like this:
[code]

[2020-04-02 17:20] abhushanaj commented on #40
Can I do this??
Also can you explain a little more what do you mean by update logo directory in readme.??

[2020-04-02 17:30] rajats98 commented on #40
yes, In readme we there is image(1st image) of logo, so update its source to new source (corpAi-logo)
If there is any doubt you can ask
Assigning this to you

[2020-04-02 17:32] abhushanaj commented on #40
Yes more doubt
Should I use github image links on readme or just make reference to image internally on readme??

[2020-04-02 17:33] rajats98 commented on #40
refer internally

[2020-04-02 17:54] #40 closed

[2020-04-02 18:14] rajats98 commented on #13
I will be accepting 2 PRs for this issue so that we can get diversified content!

[2020-04-02 18:54] rajats98 commented on #26
@annu12340 Do it before 10 AM tomorrow :).

[2020-04-02 18:56] #28 closed

[2020-04-03 02:40] #36 closed

[2020-04-03 04:20] annu12340 commented on #26
Could you please give me one more hour? I am almost done

[2020-04-03 04:22] rajats98 commented on #26
yes! try to do it ASAP

[2020-04-03 04:36] annu12340 commented on #26
ok 👍

[2020-04-03 06:01] #26 closed

[2020-04-03 06:16] annu12340 commented on #3
I would like to work on this

[2020-04-03 06:18] Adyasha8105 commented on #13
Actually I don't know the data modeling part.

[2020-04-03 06:56] rajats98 commented on #13
If anyone wants to contribute to this issue may comment here, will be accepting two PRs for this

[2020-04-03 07:01] rajats98 commented on #13
We need a brief of Data-modelling repo how it works and what tech stack is used, what does the data-set is all about...what models, maybe how many layers are used and anything you feel relevant.
Anyone who worked on data-modeling repo and know the whole overview is preferred.

[2020-04-03 07:22] rajats98 opened #47 "Add content to index"
Update **src/index.html**
refer designs/Web Designs/design-1/landing-page

**Add both the buttons and heading, the _buttons should be dummy._
Add these content inside `div#landing_container`**
### We do not need any navbar or any link (as in design).
you might need to change the code written before, change it but make sure it almost looks same as design.

[2020-04-03 07:22] abhishekgupta368 commented on #47
I want to do it

[2020-04-03 07:22] abhu-A-J commented on #47
@rajats98 Sir May I do this task?? Thank you!!

[2020-04-03 07:23] Adyasha8105 commented on #47
i want to work on this

[2020-04-03 07:26] rajats98 commented on #47
@abhishekgupta368 Assigning this to you

[2020-04-03 07:27] abhishekgupta368 commented on #47
thanks

[2020-04-03 07:36] rajats98 commented on #47
@abhishekgupta368 make sure that you structure your code keeping in mind that form_container and result_container divs will have content. (and only one div will be shown at time either landing or form or result)

[2020-04-03 07:43] abhishekgupta368 commented on #47
I need to design this part only, I am right?

![Capture](https://user-images.githubusercontent.com/39022530/78336371-e11fbe00-75ac-11ea-8482-8d12232f8504.PNG)

[2020-04-03 07:46] rajats98 commented on #47
yes, add actual buttons which do nothing

[2020-04-03 07:51] annu12340 commented on #13
I am interested to work on this issue

[2020-04-03 07:54] rajats98 commented on #13
@annu12340 Make sure you know these things for our project!!,
I am assigning this to you, you must confirm about the former line by a comment.

[2020-04-03 08:08] rajats98 opened #48 "update landing page 3"
Change the href to # for Corp Ai anchor tag in navbar.
Find and Change the tree in the bg to a similar tree(of bigger size), so that it looks clear.

[2020-04-03 08:08] abhushanaj commented on #48
@rajats98 Sir May I do this task?? Thank you!!
**EDIT:** Okay you can assign Satyam Sir. I'll take new one. He didnt work on any issues before on this REPO . Thanks!!

[2020-04-03 08:09] Satyam3976 commented on #48
Sir, Please assign me this  task, I want to work on this
EDIT: Ya, I am new to this Repo, Thank you @abhu-A-J

[2020-04-03 08:09] Adyasha8105 commented on #48
@rajats98 may i

[2020-04-03 08:13] rajats98 commented on #48
@abhu-A-J That's very kind of you!! **#Sportsmanship**

[2020-04-03 08:14] Adyasha8105 commented on #48
@rajats98 that's why I delete my comment.

[2020-04-03 08:17] Satyam3976 commented on #48
@Adyasha8105 Thanks to you too.

[2020-04-03 08:48] rajats98 commented on #48
Great!!

[2020-04-03 11:50] #47 closed

[2020-04-03 12:33] rajats98 opened #52 "About button functionality"
**index.html**
On clicking about show brief of project/application on right side (or wherever you like, but be sane :p), it should look good and the user must get a good experience,
**Do not remove the button while showing this, size or position may be changed (but avoid change of position/size)**

You may show this _"CorpAi is a crop advisory app for farmers and gardeners. It can diagnose pest da

[2020-04-03 12:33] abhu-A-J commented on #52
@rajats98 Sir May I do this task?? Thank you!!

[2020-04-03 12:36] annu12340 commented on #52
I would like to work on this

[2020-04-03 12:40] rajats98 opened #53 "Create input form"
**index.html**

**Add a form with single input(file input)** inside div with id=input_container

NOTE: while working add hidden class to div with id=landing_container and result_container

_while submitting add hidden class to input_container and result container_

If there is any confusion, kindly ask : ).

[2020-04-03 12:41] abhishekgupta368 commented on #53
I can do it

[2020-04-03 12:41] priyalbhatewara123 commented on #52
sir,i can work on this issue,haven't started contributing yet. Please assign this to me so that i can start with this.

[2020-04-03 12:42] abhishekgupta368 commented on #53
any medium level coming

[2020-04-03 12:43] shwetagurnani commented on #53
I am new to this project.I would like to work on this task,kindly assign it to me:).

[2020-04-03 12:43] annu12340 commented on #53
I would like to work on this

[2020-04-03 12:46] annu12340 commented on #52
On which file should these modification be made

[2020-04-03 12:50] rajats98 opened #54 "Update result div in index.html"
**index.html**
You need to show the following data inside the div(id=result_container), Don't make table with 3 columns as made in any of the designs.
**Show some creativity**
ONLY MAKE CHANGES IN div#result_container
NOTE: while working add hidden class to div with id=landing_container and input_container
_while submitting add hidden class to input_container and result container_
If there is any

[2020-04-03 12:51] abhishekgupta368 commented on #54
I will do it.

[2020-04-03 12:51] annu12340 commented on #54
I would like to work on this

[2020-04-03 12:52] annu12340 commented on #54
I would like to work on this. Please assign it to me

[2020-04-03 12:52] abhishekgupta368 commented on #54
can you allote me, please?

[2020-04-03 12:54] shwetagurnani commented on #54
Please assign this issue to me

[2020-04-03 13:05] Adyasha8105 commented on #54
please assign me????

[2020-04-03 13:05] Adyasha8105 commented on #53
Sir, please assign this to me

[2020-04-03 13:07] rajats98 opened #55 "Analyze button functionality"
**Index.html**
NOTE: hidden class is already present in assests/index.css
1. Add 'hidden' class to div#input_container, div#result_container

1. make 3 functions in assets/index.js
[code]
each function should add hidden class to other two div, and remove from the div to be shown, eg ,if          show_input_container() is called remove the hidden class from #input_container and add it to landing_co

[2020-04-03 13:07] abhishekgupta368 commented on #55
I can do it

[2020-04-03 13:08] abhushanaj commented on #55
Can I do this??

[2020-04-03 13:11] rajats98 commented on #52
@annu12340 index.html, Also edited in description now

[2020-04-03 13:11] rajats98 commented on #52
@annu12340 assigning this to you

[2020-04-03 13:15] rajats98 commented on #54
@abhishekgupta368 Assigning this to you,
**PLEASE DON'T CHANGE CODE OUTSIDE THE Required DIV**, many people are working on this file simultaneously.
you may update index.css, index.js

[2020-04-03 13:17] abhishekgupta368 commented on #54
thanks

[2020-04-03 13:17] rajats98 commented on #53
@abhishekgupta368  Assigned you a different issue : )
@shwetagurnani assigning this to you
**PLEASE DON'T CHANGE CODE OUTSIDE THE Required DIV**, many people are working on this file simultaneously.
you may update index.css, index.js inside assets

[2020-04-03 13:19] rajats98 commented on #55
No doubt @abhishekgupta368, But assigned you a different issue, we need to work done parallelly

so Assigning it to you @abhu-A-J

[2020-04-03 13:21] rajats98 commented on #52
**PLEASE DON'T CHANGE CODE OUTSIDE THE Required DIV**, many people are working on this file simultaneously,
you may update index.css, index.js inside assets

[2020-04-03 13:45] rajats98 opened #57 "Design a Webpage for contributors"
Design the webpage using any designing software
It should have two parts
1. Admin and Mentors
1. Participants

Add shape(maybe rectangle) containing an image(profile), Name, and role(Admin, mentor or participant)

It will be assigned to 5 participants, each participant must only submit one design, if you have more than one ideas, design and submit the best one.

Deadline 7th April

EDIT:
1. make f

[2020-04-03 13:46] Adyasha8105 commented on #57
Can I do this??

[2020-04-03 13:46] abhushanaj commented on #57
Is is open for to take for ppl who are already assigned??

[2020-04-03 13:49] rajats98 commented on #57
yes, do previous issues asap, this can be submitted till 7th of this month.
@abhu-A-J Do you want to work?

[2020-04-03 13:50] rajats98 commented on #57
@Adyasha8105 assigning this to you

[2020-04-03 13:50] Satyam3976 commented on #57
@rajats98 Sir, Please issue me this task, I also want to work on this.

[2020-04-03 13:52] abhushanaj commented on #57
Yes!!!

[2020-04-03 13:52] rajats98 commented on #57
@Satyam3976 Assigning this to you also

[2020-04-03 13:53] shwetagurnani commented on #57
Sir, I am also interested in working on this issue

[2020-04-03 13:53] rajats98 commented on #57
@abhu-A-J, @shwetagurnani assigning this to you both

[2020-04-03 13:54] kichloo opened #58 "Issue template"
The issue template helps the contributor to briefly mention the issue and the change required to fix it. I can design a issue template according to the structure of CropAi project. It can have Easy/ Medium as the Labels.

[2020-04-03 13:59] abhushanaj commented on #55
@rajats98 Sir, I need to change some previously written code because of the way it is styled. The entire body is given blue color and the landing page is inside the background, which should be other way around!!!

Also since absolute positioning is used on bottom images to keep them ar bottom:0 it will always stay at bottom since the relative parent is body directly so all other divs will go insid

[2020-04-03 14:04] rajats98 commented on #57
@Adyasha8105 @abhu-A-J @shwetagurnani @Satyam3976
I have updated instructions go through them

[2020-04-03 14:11] annu12340 commented on #57
I am also a front end dev. I would also like to work on this issue

[2020-04-03 14:22] rajats98 commented on #57
@annu12340 Assigning this to you,
You have to only design it, no code :) !!
read instructions

[2020-04-03 14:38] rajats98 commented on #55
Background for all of the divs is same, that's why it is outside. I understand the code might not be up to mark, but at this stage, I could not allow you to change to make changes, as it may affect 3-4 other participants.
And the image should be present always at the bottom.
And one more thing make updates such that page remains un-scrollable.
You may use any value of the position property of CSS

[2020-04-03 14:44] rajats98 commented on #54
@abhishekgupta368 make sure page remains un-scrollable if there is an issue/confusion for design you can ask.

[2020-04-03 14:44] rajats98 commented on #53
@shwetagurnani make sure the page remains un-scrollable.

[2020-04-03 14:48] rajats98 commented on #55
Hey, you are working on analyze button then why do you need to add content?
I thought you are working on about button, although thanks for informing

[2020-04-03 14:49] abhushanaj commented on #55
@rajats98 Sir Understood! So what I need to achieve is that CROP AI content should be replaced with other contents as per toggle feature!! ??  And all other things should remain as it it (logo,plants etc etc) ??
Is that correct?

[2020-04-03 14:52] rajats98 commented on #55
Yes, we just need to show one 3 divs at one time.
You need to 3 functions (2 will be used in future)
and 1 which will be used now, will hide the landing_container and show the input_container. (half toggle, as analysis button, will only be shown in landing_container, and it will always be used to hide  landing_container and show input_container )

[2020-04-03 14:54] abhishekgupta368 commented on #55
acconding to UI, I was told to make it bottom

[2020-04-03 14:57] abhishekgupta368 commented on #55
can please specify where is my code giving wrong output and if you try o zoom it, the image will also scale, can you please tell me, which website doesn't scale on zoom @abhu-A-J

[2020-04-03 14:58] rajats98 commented on #55
@abhishekgupta368 No worries, No blames, No criticism, No fights!!  In case if there is some problem we will update, and step forward.
I merged your PR after checking, do not take it on you.

[2020-04-03 14:58] abhishekgupta368 commented on #55
you are telling that styling is wrong, just highlight it.
I want feedback for my code.

[2020-04-03 15:01] rajats98 commented on #55
If I felt like that I would have given a review, It is just that everyone have a different way of organizing things and different style of writing code. Your code is perfectly alright !!

[2020-04-03 15:06] abhishekgupta368 commented on #55
These images are different level scaling:

![cap1](https://user-images.githubusercontent.com/39022530/78375652-c10eef80-75ea-11ea-827b-83ff891f7f3b.PNG)
![ap3](https://user-images.githubusercontent.com/39022530/78375655-c1a78600-75ea-11ea-9915-755facf22ce4.PNG)
![cap4](https://user-images.githubusercontent.com/39022530/78375656-c2401c80-75ea-11ea-8852-9596870dde27.PNG)
![cap2](https://user-images.

[2020-04-03 15:07] abhushanaj commented on #55
Areh no no! I said the styling is wrong because the entire body had the color and background set.

I thought we have to make three different sections and style them different with different background! So that's why I asked the permission to change. But it was my fault , K misunderstood the concept and Sir cleared it right above! Sorry if I made you think you work was wrong! It was a mistake from

[2020-04-03 15:08] abhishekgupta368 commented on #55
These small mistakes can lead to a big bug. please take care about.

[2020-04-03 15:09] abhushanaj commented on #55
Yes yes, the mistake was mine misunderstanding things. It's my fault only. Sorry about thr confusion. Didn't mean to do that! I hope everything is cleared?

[2020-04-03 16:07] #55 closed

[2020-04-03 16:09] #3 closed

[2020-04-03 16:59] rajats98 commented on #58
We do not require an issue template now as most of the issues are raised by mentors, will re-open the issue later if needed

[2020-04-03 17:01] annu12340 commented on #57
👍

[2020-04-03 17:19] rajats98 opened #61 "Update Documentation"
- [ ] Move vision, from CONTRIBUTE.md to README (below INTRO)

- [ ] Update Project Admin and Mentors, Slack Channel from CONTRIBUTE.md (i.e. name with github link)

- [ ] Remove owners, mentors, slack channel from CONTRIBUTE.md

- [ ] Move Our Pledge, Our Standards, Our Responsibilities, Scope, Enforcement, Attribution from CONTRIBUTE.md to CODE_OF_CONDUCT.md (create new file).

Please don't comm

[2020-04-03 17:19] abhu-A-J commented on #61
Can I??

[2020-04-03 17:21] Adyasha8105 commented on #61
can i??

[2020-04-03 17:22] Adyasha8105 commented on #61
@abhu-A-J very fast...

[2020-04-03 17:22] rajats98 commented on #61
yes @abhu-A-J , Assigning it to you

[2020-04-03 17:23] Adyasha8105 commented on #61
@abhu-A-J @rajats98  he has done a lot many tasks

[2020-04-03 17:26] abhushanaj commented on #61
@rajats98 Can you assign @Adyasha8105? . She always misses it by seconds! Thank you

[2020-04-03 17:31] rajats98 commented on #61
@Adyasha8105 assigning it to you,
@abhu-A-J Great, :+1: :100:, **#sportsmanship**

[2020-04-03 17:34] rajats98 commented on #61
@Adyasha8105 show some gratitude :sweat_smile: :laughing:

[2020-04-03 17:36] Adyasha8105 commented on #61
Ya, already done through slack messages.
Ok once again @abhu-A-J Thank you so much.

[2020-04-03 17:37] abhushanaj commented on #61
Welcome  , by the way you missed by literally seconds on this one!!! You would have got this, if I would'nt have been active !! 🤣.

[2020-04-03 17:39] Adyasha8105 commented on #61
I think you are active all the time😆.

[2020-04-04 04:15] #61 closed

[2020-04-04 07:00] abhishekgupta368 commented on #54
I was busy, Now, I will complete it.

[2020-04-04 07:33] rajats98 opened #64 "Update Docs"
Create a docs folder and move all .md files inside it

and update the files as follows
**PR_template.md**
rename to pull_request_template.md
add a comment in Fixes issue, "Use one of fixes or addresses and remove the other one"

**README.md**
Remove How to start contributing section

Inside Important Notice add this line and add relative links to both files
Before contributing to this project do c

[2020-04-04 07:35] rajats98 commented on #64
Please don't comment if you are working on any issue(except #1, #57)

[2020-04-04 07:40] Adyasha8105 commented on #64
I want to work on this issue

[2020-04-04 07:44] rajats98 commented on #64
@Adyasha8105 assigning this to you

[2020-04-04 08:24] #32 closed

[2020-04-04 08:27] rajats98 commented on #48
@Satyam3976 Submit this by tonight, If there is an issue, ask!

[2020-04-04 10:40] rajats98 commented on #52
@annu12340 Submit this by tonight, If there is a doubt or issue, you can ask!

[2020-04-04 10:41] rajats98 commented on #53
@shwetagurnani Submit this by tonight!  If there is a doubt or issue, you can ask!

[2020-04-04 10:44] rajats98 commented on #54
@abhishekgupta368  Submit this by tonight!  If there is a doubt or issue, you can ask!

[2020-04-04 16:27] goyalmuskan commented on #1
@rajats98 Can we still work on this issue?

[2020-04-04 16:38] rajats98 commented on #1
yes, but submit your logo by tomorrow.

[2020-04-04 19:04] #52 closed

[2020-04-05 04:04] abhushanaj commented on #53
@rajats98 Sir Is this open to take now!!?? I'd like to work on it, if it's open! Thanks!!

[2020-04-05 05:25] rajats98 commented on #13
@scortier If you want to add/modify something, Do it by today!

[2020-04-05 08:00] Adyasha8105 commented on #48
@Satyam3976 If you are not working on this issue, Can I take it?

[2020-04-05 08:07] Satyam3976 commented on #48
Sorry for the delay, I had designed the tree in photoshop, please have a look at it @rajats98

[2020-04-05 08:15] Adyasha8105 commented on #53
@rajats98 Sir, I also want to work on this issue.

[2020-04-05 08:21] #48 closed

[2020-04-05 08:27] rajats98 commented on #53
**@shwetagurnani please submit it by 4pm today**, otherwise this issue will be assigned to @Adyasha8105.

If you are stuck somewhere, or there is any doubt, please let me know!

[2020-04-05 09:51] Satyam3976 commented on #1
@rajats98 I am also working on this issue, will submit the PR in the evening.

[2020-04-05 10:05] shwetagurnani commented on #53
Please review and let me know if any changes are to be done:)

[2020-04-05 13:13] rajats98 commented on #53
@Adyasha8105 Assigning this issue to you, As Shweta will not be able to complete it today.
you may check PR created by her and use her code if you want, and proceed according to reviews
or you may start from the beginning. Try to submit it ASAP.

[2020-04-05 13:16] rajats98 commented on #53
@Adyasha8105 read all the instructions carefully, and reviews on PR created Shewta before starting.

[2020-04-05 14:23] Adyasha8105 commented on #53
okay sir@rajats98

[2020-04-05 15:04] #54 closed

[2020-04-06 04:10] #1 closed

[2020-04-06 05:29] #53 closed

[2020-04-06 05:43] #13 closed

[2020-04-06 07:32] rajats98 opened #79 "Show input image"
inside input_container
		show input image on the form( at place of dummy image icon)

**At one time only one of the div will be shown (landing_container/ input_container/ result_container).**

[2020-04-06 07:32] abhushanaj commented on #79
@rajats98 Sir May I do this task?? Thank you!!
Also this is for which page?

[2020-04-06 07:33] rajats98 opened #80 "Submit form functionality"
On submitting form
   create a new js function() with following functionality

       stop default action of form.
       store input_image in a variable

	   create a js variable as
	   analysis_report_json = {
	   Disease: "Pepper Bell Healthy",
	   Symptoms: {
	      "1":
	        "Initial symptoms of infection are the formation of small, circular, water-soaked spots on leaves, stems, petioles

[2020-04-06 07:33] abhishekgupta368 commented on #80
I can do it. assign me.

[2020-04-06 07:34] abhu-A-J commented on #80
@rajats98 Sir May I do this task?? Thank you!!

[2020-04-06 07:35] rajats98 opened #81 "update Analyze button functionality"
create a new function which will called on clicking Analyze
function should do the following
[code]

[2020-04-06 07:35] Adyasha8105 commented on #79
@rajats98  Can i?

[2020-04-06 07:35] abhishekgupta368 commented on #81
I can do it.

[2020-04-06 07:36] Adyasha8105 commented on #81
@rajats98  Can I work on this?

[2020-04-06 07:36] abhishekgupta368 commented on #80
Assign me, I will do this.

[2020-04-06 07:36] Adyasha8105 commented on #80
Can I work on this issue ?

[2020-04-06 07:38] annu12340 commented on #80
I would like to work on this issue

[2020-04-06 07:38] rajats98 opened #82 "Faking Routes"
on the load of the page check url
   www.domainname.com?q="section"
	 (eg. www.corp-ai.com?q=analyze)

	if section == analyze
		call show_input_container();
	if section == result
		redirect to '/'

[2020-04-06 07:39] abhu-A-J commented on #82
@rajats98 Sir May I do this task?? Thank you!!

[2020-04-06 07:39] annu12340 commented on #82
I would like to work on this issue

[2020-04-06 07:39] Adyasha8105 commented on #82
@rajats98 May I?

[2020-04-06 07:41] rajats98 opened #83 "Add link to logo"
on clicking logo, go to "/"

[2020-04-06 07:42] abhishekgupta368 commented on #83
I can do it.

[2020-04-06 07:42] annu12340 commented on #83
I would like to work on this issue

[2020-04-06 07:42] Adyasha8105 commented on #83
Can I work on this?

[2020-04-06 07:47] rajats98 commented on #83
@abhishekgupta368 assigning this to you, But next time make sure you do not comment dot to comment earlier and then edit, this is not once or twice noticing this for quite a while, This is not Fair. Otherwise, you may not be allowed to contribute further

[2020-04-06 07:51] rajats98 commented on #79
index.html

[2020-04-06 07:51] Satyam3976 commented on #81
Please assign me this, I want to work on this

[2020-04-06 07:51] rajats98 commented on #79
any more doubts are welcome :)

[2020-04-06 07:51] annu12340 commented on #82
On which file, should I add this? Is it in the assets/index/js ?

[2020-04-06 07:52] Satyam3976 commented on #80
Can i work on this?

[2020-04-06 07:53] rajats98 commented on #80
@Adyasha8105 assigning this to you

[2020-04-06 07:54] rajats98 commented on #81
@Satyam3976 assigning this to you

[2020-04-06 07:58] rajats98 commented on #80
In case of any doubt, Kindly ask!!
Naming should be meaningful, add comments to make code readable, and easy to understand.

[2020-04-06 07:59] rajats98 commented on #81
In case of any doubt, Kindly ask!!
Naming should be meaningful, add comments to make code readable, and easy to understand.

[2020-04-06 07:59] rajats98 commented on #83
In case of any doubt, Kindly ask!!
Naming should be meaningful, add comments to make code readable, and easy to understand.

[2020-04-06 08:00] rajats98 commented on #82
yes

[2020-04-06 08:00] rajats98 commented on #82
In case of any doubt, Kindly ask!!
Naming should be meaningful, add comments to make code readable, and easy to understand.

[2020-04-06 08:01] annu12340 commented on #82
Ok

[2020-04-06 08:01] Adyasha8105 commented on #80
@rajats98 Okay :)

[2020-04-06 08:25] abhishekgupta368 commented on #80
I have done my previous Issue, Can I do this?

[2020-04-06 08:49] rajats98 commented on #80
No, it is currently assigned to another participant

[2020-04-06 09:14] #57 closed

[2020-04-06 09:28] #83 closed

[2020-04-06 11:45] #79 closed

[2020-04-06 12:12] #82 closed

[2020-04-06 13:10] #81 closed

[2020-04-06 16:10] #80 closed

[2020-04-06 17:15] rajats98 opened #90 "Input image mandatory and show img on result page also"
**index.html, index.js**

- [ ] form should not submit without input, give proper warning
- [ ] design input button
- [ ] inside event listener for form submit, store image in a variable.

- [ ] pass that img variable to update_result function, add relevant parameter in function definiton
- [ ] inside update_result, add code that will update the image in result_container

[2020-04-06 17:16] Adyasha8105 commented on #90
can I?

[2020-04-06 17:18] rajats98 commented on #90
@Adyasha8105 assigned to you

[2020-04-06 17:49] rajats98 opened #91 "Bug fix and Whole Routing"
index.html , index.js
routing structure (consider base_url = "...../index.html" or "www.domain.com"
[code]
You have to do the routing and fix the bugs.
**Before commenting make sure you have a well executable plan, and you have explored how to do each step clearly**
**Participants with excellent js skill should ask for this assignment**
In case of doubts asked.

[2020-04-06 17:49] abhushanaj commented on #91
May  I Sir ??

[2020-04-06 17:50] Satyam3976 commented on #91
Can I?

[2020-04-06 17:55] rajats98 commented on #91
@abhu-A-J Assigning this to you

[2020-04-06 18:02] rajats98 opened #92 "Add option to analyze other crop"
Index.js
Add a button in result_container, with text like Analyze other crop or something like
Design and position it properly.
Onclick call function analyze_click()
You may use Bootstrap (CDN added already)

[2020-04-06 18:03] Satyam3976 commented on #92
May I

[2020-04-06 18:04] rajats98 commented on #92
Assigned to  you

[2020-04-06 18:17] aashimgarg opened #93 "Add GitHub actions to the project."
I will add github actions to the project. GitHub Actions makes it easy to automate all your software workflows, now with world-class CI/CD.

Should i work with this as this will be very good for the project.

@rajats98 should i proceed with it.

About me:-
GSSoC Aspirant.

[2020-04-06 18:18] aashimgarg commented on #93
Please assign me this issue.

[2020-04-06 18:39] annu12340 commented on #90
I would also like to work on this issue

[2020-04-06 18:41] rajats98 commented on #93
Actually, this project is divided into 4 repositories. so, I don't think currently we can properly set it up.
Closing the issue for now.
In case we require it in the future, I will definitely reopen only this issue

[2020-04-07 15:18] #91 closed

[2020-04-07 17:50] #90 closed

[2020-04-07 19:22] #92 closed

[2020-04-08 07:31] rajats98 opened #99 "Clear the results before appending result"
Index.html index.js

In result container before appending the result, clear the previous content.
Test your functionality by submitting input multiple times (use analyze other crop button below the results and submit the form again)

Understand current functionality before starting!

If there is any doubt, Kindly ask.
Code neatly, Comment nicely!!

[2020-04-08 07:31] abhu-A-J commented on #99
@rajats98 Sir May I ??

[2020-04-08 07:31] rajats98 opened #100 "delete lib folder"
Delete the lib folder (present inside src folder)

[2020-04-08 07:31] shwetagurnani commented on #99
pls assign me this issue

[2020-04-08 07:31] rajats98 opened #101 "Make landing2.html responsive"
src/landing pages/landing-page-2/landing2.html

Update bootstrap to latest version (4.4.1)
Try to use bootstrap extensively to design, position(spacing and size etc.) elements,
**make the page responsive**
some alteration in the design are allowed but it should look good
remove/update the redundant CSS on the go.

If there is any doubt, Kindly ask.
Code neatly, Comment nicely!!

[2020-04-08 07:31] abhishekgupta368 commented on #99
I can do it.

[2020-04-08 07:31] Adyasha8105 commented on #100
Can I take this issue?

[2020-04-08 07:31] rajats98 opened #102 "Fetching user details"
Create a folder **contributors page** (exactly same) inside src
Create a js script named script_for_fetching_userdata.js (or similar name)

Add GitHub username of contributors to an array ( say, contributor_usernames)
get contributors from each of the 4 repository present in github.com/CropAi

get details for all users from https://api.github.com/users/{username}, and store only following keys
[co

[2020-04-08 07:31] abhishekgupta368 commented on #101
I can do it. Can you Assign me, Please?

[2020-04-08 07:31] rajats98 opened #103 "Make our website responsive"
index.html
Update bootstrap to the latest version (4.4.1)
update bootstrap to latest version and update pages according to that, no scrolling on any page (expect result page, when content is large, only vertical scroll), no horizontal scroll in any case

Use bootstrap extensively to design, position(spacing and size, etc.) elements

colors/design may be changed, it must look aesthetic.
remove/upda

[2020-04-08 07:31] abhu-A-J commented on #102
@rajats98 Sir May I ??

[2020-04-08 07:31] shwetagurnani commented on #102
pls assign me this issue

[2020-04-08 07:32] shwetagurnani commented on #101
pls assign me this issue

[2020-04-08 07:32] abhishekgupta368 commented on #102
I can do it. Can you assign me ?

[2020-04-08 07:32] annu12340 commented on #103
Can I take this issue?

[2020-04-08 07:32] Satyam3976 commented on #103
Can I

[2020-04-08 07:32] Adyasha8105 commented on #99
Can I take this issue?

[2020-04-08 07:32] abhishekgupta368 commented on #100
I can do it.

[2020-04-08 07:32] Satyam3976 commented on #102
Can I

[2020-04-08 07:32] Adyasha8105 commented on #101
Can I take this issue?

[2020-04-08 07:32] annu12340 commented on #101
Can I take this issue?

[2020-04-08 07:32] Satyam3976 commented on #101
Can I

[2020-04-08 07:32] Satyam3976 commented on #99
Can I?

[2020-04-08 07:33] shwetagurnani commented on #103
pls assign me this issue

[2020-04-08 07:33] annu12340 commented on #100
Can I take this issue?

[2020-04-08 07:34] rajats98 commented on #103
Sorry guys,
This assignee of this issue is predetermined based on performance till now,
@abhu-A-J you may remove your comments from other issues, and comment here
I hope you guys understand.

[2020-04-08 07:35] Sapna2001 commented on #100
Please assign me this issue.

[2020-04-08 07:36] annu12340 commented on #102
can i work on this issue

[2020-04-08 07:37] abhushanaj commented on #103
Ooops!! I thought I commented on 102!! Correcting the mistake right now!

[2020-04-08 07:38] rajats98 commented on #103
remove your comment from #99 also

[2020-04-08 07:39] abhushanaj commented on #103
It's not there Sir, I deleted it after I read the details!

[2020-04-08 07:41] rajats98 commented on #102
@shwetagurnani Assigning this to you

[2020-04-08 07:43] rajats98 commented on #99
@abhishekgupta368 assigning this to you

[2020-04-08 07:45] rajats98 commented on #101
@abhishekgupta368 assigned you another issue, as you told you are a beginner in frontend.

[2020-04-08 07:46] rajats98 commented on #101
@Adyasha8105 assigning this to you.
In case you are not comfortable with Bootstrap 4, inform!

[2020-04-08 07:47] rajats98 commented on #100
@annu12340 assigning this to you!

[2020-04-08 07:59] rajats98 commented on #99
@abhishekgupta368
In case, after reading the description, you feel like you will not be able to do this,please let me know!

[2020-04-08 07:59] rajats98 commented on #102
@shwetagurnani
In case, after reading the description, you feel like you will not be able to do this,please let me know!

[2020-04-08 07:59] Adyasha8105 commented on #101
No, first I will try.

[2020-04-08 08:04] annu12340 commented on #99
Can I work on this issue

[2020-04-08 08:27] abhishekgupta368 opened #105 "Error in Index.js"
![cap](https://user-images.githubusercontent.com/39022530/78761708-96cd8100-79a0-11ea-9e28-820b9d45a60d.PNG)
There is two semicolons at the last column and there should be one.

Can i resolve it?

[2020-04-08 08:28] rajats98 commented on #105
resolve it with the issue assigned to you :P

[2020-04-08 08:28] #105 closed

[2020-04-08 08:43] rajats98 opened #106 "Create contributors page"
Create a folder **contributors page** inside src (name the form exactly same)
create a file contributors.html
Check designs/contributors/contributors-4, we need a similar page with few changes in it
1. Navbar will have only 2 links on right( HOME, ANALYZE CROP NOW)
2. Add two buttons/tabs (Participant, Mentor and admins) below the CONTRIBUTORS heading  (towards left)
3. Only Add Github(out of 3 in

[2020-04-08 08:43] annu12340 commented on #106
can i  work on this issue

[2020-04-08 08:44] Satyam3976 commented on #106
Can I?

[2020-04-08 08:45] rajats98 commented on #106
@Satyam3976 assigning this to you

[2020-04-08 08:48] rajats98 commented on #106
@annu12340 you were assigned one already today!

[2020-04-08 08:50] annu12340 commented on #106
But that was a beginner one. There was nothing much to do it :)

[2020-04-08 08:53] rajats98 commented on #106
Yes, I see ... Don't worry, more issues to come tomorrow!
Someone had to that too (beginner one)!

[2020-04-08 08:54] annu12340 commented on #106
ok 😃

[2020-04-08 08:59] rajats98 commented on #106
@Satyam3976 In case, after reading the description, you feel like you will not be able to do this,please let me know!

[2020-04-08 09:03] #100 closed

[2020-04-08 15:45] #99 closed

[2020-04-08 18:33] #101 closed

[2020-04-09 12:42] #106 closed

[2020-04-10 06:14] aashimgarg opened #113 "Adding the contribution Guidelines."

[2020-04-10 06:16] aashimgarg opened #114 "There is no navbar in the index.html file"
There is no navbar in he index file.

[2020-04-10 06:26] rajats98 commented on #113
Contribution guidelines already present!

[2020-04-10 06:26] #113 closed

[2020-04-10 06:27] rajats98 commented on #114
It is designed to have no navbar, deliberately!

[2020-04-10 06:27] #114 closed

[2020-04-10 10:51] #103 closed

[2020-04-11 08:29] rajats98 opened #116 "Update Nav Bar Links in Landing page 3 (landing3.html)"
landing3.html

	rename Product to Analyze Crop, link it to index.html?q=analysis (relative address to index.html)
	rename contact us to Team, link it to contributors.html (src/contributors page/contributor.html), use relative address

	Also Link the Start analysing button to index.html?q=analyze

[2020-04-11 08:29] rajats98 opened #117 "Update Nav Bar Links in Landing page 2 (landing2.html)"
landing2.html
Navbar links

	remove Blog And Contact Us from navBar
	rename Product to Analyze Crop, link it to index.html?q=analysis (relative address to index.html)
	link Team to contributors.html (src/contributors page/contributor.html)

	Also Link the Analyze button to index.html?q=analysis

[2020-04-11 08:29] abhishekgupta368 commented on #116
I can do it. Can you assign me ?

[2020-04-11 08:29] Adyasha8105 commented on #116
Can I work on this issue?

[2020-04-11 08:29] rajats98 opened #118 "Update navbar contibutor.html"
src/contributors page
contributor.html

navbar --> link ANALYZE CROP NOW to index.html?q=analysis (relative address to index.html)

move contributor.css to assets and update the same in contributor.html

[2020-04-11 08:29] rajats98 opened #119 "Add dummy image in input_container, index.html"
index.html

dummy image on form instead of empty image
download empty image icon/pic
show it input container's form

[2020-04-11 08:29] Adyasha8105 commented on #118
Can I work on this issue?

[2020-04-11 08:29] Satyam3976 commented on #118
Can i

[2020-04-11 08:29] rajats98 opened #120 "basic details in Index.html"
add this line on index.html

(to be shown on the bottom of the screen)
This is an Open Source project, created with love by `Contributors` under `GirlScript Summer of Code 2020`, conducted by `GirlScript Foundation`.

Add link to Contributors.html and gssoc,  girlscript websites (all to be opened in new tab)

[2020-04-11 08:29] abhishekgupta368 commented on #117
I can do it. Can you assign me ?

[2020-04-11 08:29] Satyam3976 commented on #119
Can I

[2020-04-11 08:29] Adyasha8105 commented on #119
Can I work on this issue?

[2020-04-11 08:29] rajats98 opened #121 "Add logo in title bar (favicon)"
Add logo in the title bar (favicon)
you may add a resized logo, name it appropriately if added (designs/logo-designs)

[2020-04-11 08:30] abhishekgupta368 commented on #120
I can do it. Can you assign me ?

[2020-04-11 08:30] rajats98 opened #122 "update readme"
update gssoc logo in readme
go to https://miro.medium.com/max/1400/1*CKaCnG11p5i0KiQyaoyBvg.png
save the logo and add it to designs/logo-designs name gssoc-logo-with-text and update the logo in readme to this, give appropriate dimension

Take **About girlscript** and **About gssoc's** (first para from both)  from gssoc.tech and add it under Important notice suitably

Update link and text of CONTRI

[2020-04-11 08:30] Satyam3976 commented on #120
Can I

[2020-04-11 08:30] Satyam3976 commented on #121
Can i

[2020-04-11 08:30] Adyasha8105 commented on #121
Can I work on this issue?

[2020-04-11 08:30] Adyasha8105 commented on #120
Can I work on this issue?

[2020-04-11 08:30] annu12340 commented on #122
can i work on this issue

[2020-04-11 08:31] Adyasha8105 commented on #122
Can I work on this issue?

[2020-04-11 08:31] Adyasha8105 commented on #117
Can I work on this issue?

[2020-04-11 08:31] abhishekgupta368 commented on #120
assign me this, please

[2020-04-11 08:32] Sapna2001 commented on #120
Can I work on this.

[2020-04-11 08:33] Sapna2001 commented on #122
Can I work on this.

[2020-04-11 08:35] Satyam3976 commented on #117
Can I ?

[2020-04-11 08:36] Satyam3976 commented on #116
Can I

[2020-04-11 08:36] Sapna2001 commented on #118
Can I work on this?

[2020-04-11 08:37] abhushanaj commented on #120
@rajats98 Sir May I ?? Although I'm late !  😢

[2020-04-11 08:51] rajats98 commented on #122
@annu12340 assigning this to you!

[2020-04-11 08:53] rajats98 commented on #118
@Sapna2001 assigning this to you

If there is any doubt, Kindly ask.
Code neatly, Comment nicely!!

[2020-04-11 08:55] rajats98 commented on #116
@Satyam3976 Assigning this to you!

If there is any doubt, Kindly ask.
Code neatly, Comment nicely!!

[2020-04-11 08:58] rajats98 commented on #120
@abhishekgupta368 assigning this to you!

If there is any doubt, Kindly ask.
Code neatly, Comment nicely!!

[2020-04-11 08:58] Adyasha8105 commented on #117
@rajats98  assign this issue to me?
I have to change some other parts also.

[2020-04-11 08:59] rajats98 commented on #117
@Adyasha8105 assigning this to you !
If there is any doubt, Kindly ask.
Code neatly, Comment nicely!!

[2020-04-11 09:00] Adyasha8105 commented on #119
Can I work on this issue?

[2020-04-11 09:12] abhushanaj commented on #119
May I? Somehow I always get index.html!  😆

[2020-04-11 09:14] rajats98 commented on #119
@abhu-A-J assigning this to you

If there is any doubt, Kindly ask.
Code neatly, Comment nicely!!

[2020-04-11 09:18] abhushanaj commented on #121
Can I do this one as well together with my previous one??

[2020-04-11 09:20] rajats98 commented on #121
No!

[2020-04-11 10:02] Adyasha8105 commented on #121
@rajats98 Can I work on this part ???
As I have completed my previous task.

[2020-04-11 10:07] Mustafiz04 commented on #121
I would like to work on it. Sir @rajats98 please assign to me.

[2020-04-11 10:12] rajats98 commented on #121
@Mustafiz04 assigning this to you!

[2020-04-11 10:42] #119 closed

[2020-04-11 10:47] #117 closed

[2020-04-11 10:51] #118 closed

[2020-04-11 13:23] #122 closed

[2020-04-11 13:27] #121 closed

[2020-04-11 13:42] ashishnagpal2498 opened #129 "CSS issue file upload button"
The file upload input box goes out of the container.
The pointer as cursor shows only at some places.

Screenshot
![image](https://user-images.githubusercontent.com/36301481/79045347-3b152900-7c28-11ea-8e95-34194857764f.png)

I would like to work on this issue as part of GSSOC 20.

[2020-04-11 13:48] rajats98 commented on #129
yes start working on this issue, I would suggest you to trigger **click on input** when the button is pressed.

[2020-04-11 13:51] ashishnagpal2498 opened #130 "Text display After Image upload"
The text displayed after image upload should be "image preview" or something else but shouldn't be upload an image.
Also after image upload the upload button should be changed to "change image button"

Screenshot
![image](https://user-images.githubusercontent.com/36301481/79045603-9d225e00-7c29-11ea-8e16-46b827cd9592.png)

I would like to work on this issue as part of GSSOC 20.

[2020-04-11 13:52] ashishnagpal2498 commented on #129
Okay , I'll do that.

[2020-04-11 14:12] rajats98 commented on #130
Update the heading to "Upload Crop Image", no need to change it after image upload.

Yes for the button change it to "Upload Image"(before upload) and
After upload--> Change Image/Select another Image ( Whatever you feel like more relevant)

Make sure you understand the code properly first!
Code neatly, Comment nicely!!

[2020-04-11 14:32] rajats98 commented on #58
@kichloo Do you want to work on this?

[2020-04-11 14:34] Adyasha8105 commented on #58
@rajats98 Can I as it is necessary now?

[2020-04-11 14:54] kichloo commented on #58
@rajats98 Yes I would like to take it up!

[2020-04-11 15:02] rajats98 commented on #58
Add it to docs
name it similar to pull request template present there

@kichloo assigning to you!

[2020-04-11 15:09] #102 closed

[2020-04-11 15:26] kichloo commented on #58
@rajats98 Can you make the label as Easy as the PR template was also easy

[2020-04-11 16:04] Adyasha8105 opened #131 "Change CSS style"
I want to change the CSS style of the home page.
Like making the size of CROP AI a little bigger and put the bottom grass at the right position.
@rajats98 Assign this part to me?

[2020-04-11 16:11] rajats98 commented on #131
Currently, not taking any design issues, until it causes any bug or poor user experience!

[2020-04-11 16:11] #131 closed

[2020-04-12 08:06] Adyasha8105 commented on #116
@Satyam3976 Are you working on this?

[2020-04-12 08:21] rajats98 commented on #58
Nopes! It would be considered beginner

[2020-04-12 10:30] Satyam3976 commented on #116
@rajats98 Relative address of index.html is index.html?q=analyze not index.html?q=analysis. If you want you can edit the description of this issue.

[2020-04-12 10:33] Satyam3976 opened #133 "Collapse Navbar for landing page 3"
![Screenshot from 2020-04-12 16-01-49](https://user-images.githubusercontent.com/25302027/79066646-25127180-7cd7-11ea-9c45-06e0e9b9d40f.png)

[2020-04-12 10:34] Satyam3976 commented on #133
![Screenshot from 2020-04-12 15-39-45](https://user-images.githubusercontent.com/25302027/79066658-3fe4e600-7cd7-11ea-9d80-426c41b03127.png)
On scrolling down, Crop AI text is hiding, We can also fix that

[2020-04-12 10:38] Satyam3976 opened #134 "Collapse Navbar for landing page 2"
The font of the navbar is too small, which is looking odd and difficult to read.

[2020-04-12 10:38] Satyam3976 commented on #134
![Screenshot from 2020-04-12 16-07-19](https://user-images.githubusercontent.com/25302027/79066728-de714700-7cd7-11ea-82ff-9d1c51b453bb.png)

[2020-04-12 10:42] rajats98 commented on #133
It's okay, We don't require to work on this, Anyways on scrolling things have to move and leave the page.

[2020-04-12 10:42] #133 closed

[2020-04-12 10:47] rajats98 commented on #134
It's okay, as it is! The font is good enough, I will check once again and reopen the issue, if it is so

[2020-04-12 10:47] #134 closed

[2020-04-12 10:48] Satyam3976 opened #135 "Landing Page 2 logo bug"
Landing Page 2 should have a href like the other 2 landing pages.

[2020-04-12 10:50] rajats98 commented on #135
why do you think that? it should be a href ?

[2020-04-12 10:50] rajats98 commented on #135
and where should it redirect to?

[2020-04-12 10:53] Satyam3976 commented on #135
Logo should always have a href which will redirect to the same page like the other 2 landing pages.

[2020-04-12 11:01] Satyam3976 opened #136 "Landing Page 3 Bug"
The page will redirect to analyze crop only when the arrow is clicked not when start analysing section is clicked. It's a bit confusing... We should not keep things so narrow and confusing for the user, maybe the user thinks that the button is not working.
PS- When I am working on the issue, I also thought that why the button is not working and will get to know the reason after watching the code.

[2020-04-12 11:02] rajats98 commented on #135
Does it serve anything here? We we will move a to different page on clicking anything where it is not present, if the same navbar was to place on many pages, then it would have been a great idea.
It is a single independent page, So it will redirect to itself, only, no purpose solved.

And on index.html it is required as it would help to return from other urls to landing page, for landing page3 , i

[2020-04-12 11:13] Satyam3976 commented on #135
It's perfectly alright sir, Just analyzing some issues and discussing here.

[2020-04-12 11:19] Satyam3976 opened #137 "Analyze Crop Section"
When we are clicking on Analyze crop in the navbar. There is no way to go back to the same landing page as we redirect to index.html. So we should have an Analyze crop section for each page which will be shown on the same landing page so the user can have the option to go back to the same landing page.

[2020-04-12 11:23] abhushanaj commented on #137
@Satyam3976  I think the index.html is our main page and I'm thinking the other landing pages were made so everyone get's to work on the project. So some functionality will not be present on it/or might break also. Anyhow I think Sir is there to clarify this!

[2020-04-12 11:29] Satyam3976 opened #138 "Index Page new feature"
As Index.html is our main page so we should have a team section redirect option in the navBar

[2020-04-12 12:08] #135 closed

[2020-04-12 12:21] rajats98 commented on #136
Duplicate of issue #116

[2020-04-12 12:21] #136 closed

[2020-04-12 12:30] rajats98 commented on #137
Satyam those landing pages are designed for later, we may replace the current landing page with anyone of them. : )

[2020-04-12 12:30] #137 closed

[2020-04-12 12:33] rajats98 commented on #138
We will not be making a navbar but we will be giving a link to contributor page in the footer of page, I hope this will solve the purpose and there is already an issue open for that #120

[2020-04-12 12:33] #138 closed

[2020-04-12 13:31] ashishnagpal2498 commented on #130
Kindly merge the PR for issue #129  as it will create conflicts on changing text of button.

[2020-04-12 14:44] #129 closed

[2020-04-12 15:11] #58 closed

[2020-04-12 16:27] ashishnagpal2498 opened #143 "Improvement in alert message"
- **Improvement in UI**
While uploading an image if the text field is empty , an alert box is shown which can be changed to an error message above text field.
![image](https://user-images.githubusercontent.com/36301481/79074063-e77a0c80-7d07-11ea-88ea-5a3119a4fb86.png)

[2020-04-13 08:58] Yashank18 commented on #143
I would like to work on it :)

[2020-04-13 09:09] rajats98 commented on #143
@ashishnagpal2498 do you want to work on this issue, or should I assign it to @Yashank18

[2020-04-13 09:13] rajats98 commented on #143
Label for the issue will be easy, as proper event listeners have already been set.

[2020-04-13 10:01] ashishnagpal2498 commented on #143
Yes , I want to work on this issue.

[2020-04-13 10:04] #130 closed

[2020-04-13 10:05] rajats98 commented on #143
@ashishnagpal2498 assigning this to you

[2020-04-13 11:29] #120 closed

[2020-04-13 11:57] #116 closed

[2020-04-13 17:02] shreyakapoor08 opened #144 "Upload Image page CSS enhancement"
- **I'm submitting an enhancement

  - [x] bug report
  - [ ] feature request

- **Do you want to request a feature or report a bug?**
Enhancement

- **What is the current behavior?**
1. The heading is a normal text
2. One button has hover effect and other does not have
![image](https://user-images.githubusercontent.com/31164665/79141035-a13fae80-7dd6-11ea-99c2-f6e5c31a1fa9.png)

- **What is the e

[2020-04-13 17:04] shreyakapoor08 commented on #144
@rajats98 Can I work on it ?

[2020-04-13 17:07] shreyakapoor08 opened #145 "Analysis Report CSS enhancement"
- **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request

- **Do you want to request a feature or report a bug?**
Bug

- **What is the current behavior?**
1. Uploaded image is overlapping the text.
![image](https://user-images.githubusercontent.com/31164665/79141334-3e9ae280-7dd7-11ea-8a39-c7ecc9223a3a.png)

- **What is the expected behavior?**
1. Their should be some space between i

[2020-04-13 17:14] rajats98 commented on #144
Hello Shreya,
Although we are not taking design enhancement issues (until there is a bug caused by design) right now, But since this is the first time you are contributing to this repo, I am allowing this :)
@shreyakapoor08  Assigning this to you!

If there is any doubt, Kindly ask.
Code neatly, Comment nicely!!

[2020-04-13 17:16] rajats98 commented on #145
@shreyakapoor08 do you want to work on this?

[2020-04-13 17:16] shreyakapoor08 commented on #144
@rajats98 Hello ☺
Okay, I will take care of it from next time. ☺
Thank you

[2020-04-13 17:17] shreyakapoor08 commented on #145
Yes I want to work on this ☺ @rajats98

[2020-04-14 08:32] rajats98 opened #147 "correct closing button tag of Analyze in index.html"
correct closing button tag of Analyze button in index.html

Pull the code before making PR, you might encounter merge conflicts,
try to Resolve merge conflicts at your end.
If there is any doubt, Kindly ask.
Code neatly, Comment nicely!!

[2020-04-14 08:32] Satyam3976 commented on #147
Can I

[2020-04-14 08:32] rajats98 opened #148 "Minor design change"
index.html
for bottom line(This is an Open Source......)
Show links in red in all case(expect hover)

Pull the code before making PR, you might encounter merge conflicts,
try to Resolve merge conflicts at your end.
If there is any doubt, Kindly ask.
Code neatly, Comment nicely!!

[2020-04-14 08:32] shwetagurnani commented on #147
can i work on it

[2020-04-14 08:32] goyalmuskan commented on #148
May I?

[2020-04-14 08:33] shwetagurnani commented on #148
can I

[2020-04-14 08:33] rajats98 opened #149 "Show image on Result (on smaller screen sizes too)"
index.html
image on result page not shown on small screen
Show and Place it at a suitable position for small screens

Pull the code before making PR, you might encounter merge conflicts,
try to Resolve merge conflicts at your end.
If there is any doubt, Kindly ask.
Code neatly, Comment nicely!!

[2020-04-14 08:33] rajats98 opened #150 "Show name of uploaded file"
index.html
in input_container
Show name of uploaded file below image

Pull the code before making PR, you might encounter merge conflicts,
try to Resolve merge conflicts at your end.
If there is any doubt, Kindly ask.
Code neatly, Comment nicely!!

[2020-04-14 08:33] rajats98 opened #151 "create default_contributors.js"
create a temporary Html file, include script_for_fetching_userdata as a script  **(temporary Html file to be deleted before making PR).**

open the html file in browser, open console, copy the consoled object(it contains contributors_data)
refer this:

![JadedUnsteadyFennecfox-size_restricted](https://user-images.githubusercontent.com/33171120/79202059-a3e1e880-7e56-11ea-9617-0ecab725f619.gif)

cr

[2020-04-14 08:33] rajats98 opened #152 "Add scripts to Contributor.html"
_src/contributors page/contributors.html_

make **contributor.js** in src/

add **default_contributors.js** (_will be available inside src/contributors page/_ ), **script_for_fetching_userdata,js**, **contributor.js** in contributor.html (keep the order) as script in contributors.html

move **function call** of contributors_information, from script_for_fetching_userdata to contributors.js
and make

[2020-04-14 08:33] Satyam3976 commented on #149
Can I

[2020-04-14 08:33] abhishekgupta368 commented on #150
i can do it

[2020-04-14 08:33] shwetagurnani commented on #150
can i

[2020-04-14 08:33] Satyam3976 commented on #152
Can I

[2020-04-14 08:33] goyalmuskan commented on #149
May I work on this? @rajats98

[2020-04-14 08:33] shwetagurnani commented on #152
can i

[2020-04-14 08:33] Adyasha8105 commented on #150
can i?

[2020-04-14 08:34] shwetagurnani commented on #151
Can I

[2020-04-14 08:35] Adyasha8105 commented on #147
can i?

[2020-04-14 08:35] Adyasha8105 commented on #148
may i?

[2020-04-14 08:35] shreyakapoor08 commented on #147
can I work on this?

[2020-04-14 08:36] shreyakapoor08 commented on #148
can I work on this?

[2020-04-14 08:36] shreyakapoor08 commented on #150
can I work on this?

[2020-04-14 08:37] Adyasha8105 commented on #148
can i?

[2020-04-14 08:40] shwetagurnani commented on #151
Please assign it to me

[2020-04-14 08:42] Adyasha8105 commented on #149
May i?

[2020-04-14 08:47] rajats98 commented on #151
@shwetagurnani assigning this to you!

[2020-04-14 08:47] rajats98 commented on #150
@abhishekgupta368 assigning this to you

[2020-04-14 08:48] rajats98 commented on #152
@Satyam3976 assigning this to you!

[2020-04-14 08:50] rajats98 commented on #149
@goyalmuskan assigning this to you!

[2020-04-14 08:51] Mustafiz04 commented on #148
can I do this?? @rajats98 please assign this to me

[2020-04-14 08:53] rajats98 commented on #147
@Adyasha8105 assigning this to you

[2020-04-14 08:54] ashishnagpal2498 commented on #148
Can I work on this issue ?

[2020-04-14 08:54] rajats98 commented on #148
@shreyakapoor08 you are currently assigned 2 issues, already!
So, @Mustafiz04 assigning this to you!

[2020-04-14 10:07] #148 closed

[2020-04-14 10:58] #143 closed

[2020-04-14 11:06] ashishnagpal2498 opened #155 "Regex in JS for Image"
- **Feature**
Although the field of file input is restricted to image in accept field of input, the user can change the dialog box to all files and select any random file. Selecting the random file will break the normal flow of UI.
Solution-
Apply regex and only if that passed , show the preview of image else show an error as filetype is not an image.

To Replicate Error -
1) Click on upload image

[2020-04-14 11:19] #147 closed

[2020-04-14 11:22] rajats98 commented on #155
You can directly pull out extn and compare it with what we require .
if you want to use regex, No issues!
Assigining this to you @ashishnagpal2498, In case you don't want to work on this issue, let me know

[2020-04-14 11:52] rajats98 opened #157 "Share screenshots of successful working of backend [OPEN FOR ALL]"
The backend is now complete, you need to setup the backend locally, to integrate API.
Setup backend, And **Make a PR to https://github.com/CropAi/Backend/issues/85 in that repository** itself.
I would suggest in case of any issue or any kind of help in setup, Ask it on #proj_cropAi slack channel, It will help in building a strong community. Help others also!!
If you issue in resolved there, feel f

[2020-04-14 11:53] abhushanaj commented on #157
Yay!!

[2020-04-14 17:34] #155 closed

[2020-04-14 17:45] #151 closed

[2020-04-15 10:47] rajats98 commented on #144
@shreyakapoor08 Submit it by tomorrow morning and make sure you pull the latest code. Lots of changes are made in this section

[2020-04-15 10:48] rajats98 commented on #145
@shreyakapoor08 Submit it by tomorrow morning and make sure to pull the latest code.

[2020-04-15 16:44] #144 closed

[2020-04-15 18:38] #145 closed

[2020-04-15 18:44] #149 closed

[2020-04-16 07:01] rajats98 commented on #152
@Satyam3976 Submit your PR by tonight

[2020-04-16 12:54] #150 closed

[2020-04-16 14:38] #152 closed

[2020-04-17 06:30] rajats98 opened #164 "Adding divs to contributor.html"
contributor.html
make 2 div with id "participants" and "mentors" [inside div.container (after the buttons)]

copy dummy contributor data in both the containers with different numbers of cards. [copy outer div with class row].

Do it ASAP!

If there is any doubt, Kindly ask.
Code neatly, Comment nicely!!

[2020-04-17 06:31] Adyasha8105 commented on #164
Can you assign this issue to me?

[2020-04-17 06:31] rajats98 opened #165 "Make buttons working and style accordingly"
contributor.html
**to be done after issue #164 is resolved**

make buttons working and style accordingly
Buttons can be changed to divs and styling can be changed(if required)
change the order of buttons (i.e participants should be placed first)
initially, participants button will be active and div#participants will be displayed( div#mentor will be hidden).
on clicking admin and mentors, the admin

[2020-04-17 06:31] shwetagurnani commented on #164
can I work on this issue?

[2020-04-17 06:31] rajats98 opened #166 "Add script tag to contributor.html"
contributor.html
add user_palette.js as script tag (above other script tags)

[2020-04-17 06:31] rajats98 opened #167 "Restyle About index.html"
index.html
About
add animation/transition on hide (you can also change,the on show animation/transition)
change font

[2020-04-17 06:31] abhu-A-J commented on #165
@rajats98 Sir May I ??

[2020-04-17 06:31] abhishekgupta368 commented on #165
I can do it. Can you assign me ?

[2020-04-17 06:31] Satyam3976 commented on #165
can I work on this issue?

[2020-04-17 06:31] Adyasha8105 commented on #167
Can you assign this issue to me?

[2020-04-17 06:31] abhishekgupta368 commented on #167
I can do it. Can you assign me ?

[2020-04-17 06:31] darkmatter18 commented on #166
Assign please

[2020-04-17 06:31] shwetagurnani commented on #167
can I work on this issue?

[2020-04-17 06:31] rajats98 opened #168 "Bug: Input file, input and image not in sync [index.html]"
index.html
BUG fix:
After one image is selected and change/upload file is clicked and canceled in dialog box... the input[file] gets empty, but the image and name still show(prev one).
Either the input should not change to empty or the image/name to be removed

Label may be upgraded to Medium, after the PR is made!

If there is any doubt, Kindly ask.
Code neatly, Comment nicely!!

[2020-04-17 06:31] rajats98 opened #169 "Integrate Api to fetch data"
index.js
API integration using ajax (fetch, XHR or jquery Ajax)
you need to create FormData object and image should be appended to it
key for image is "file" (key: value, file:(image))

endpoint: https://crop-leaf.herokuapp.com/file_upload
method: POST

headers: "Content-Type": "multipart/form-data"
body: formdata

console the response

If there is any doubt, Kindly ask.
Code neatly, Comment nicel

[2020-04-17 06:32] Satyam3976 commented on #167
can I work on this issue?

[2020-04-17 06:32] annu12340 commented on #167
may i

[2020-04-17 06:32] rajats98 opened #170 "[OPEN FOR ALL] Update color_palette"
src/contributors page/user_palette.js

Add an object to array user_palette:
[code]

the background and color will be applied as the image below, so check it on contributor/index.html, It should look good, the text should be clearly visible and easily readable.
![color_palette](https://user-images.githubusercontent.com/33171120/79536471-c285f080-809d-11ea-93ac-3f6cbed954ca.png)

**color**: choose o

[2020-04-17 06:32] abhushanaj commented on #169
@rajats98 Sir May I ??

[2020-04-17 06:32] abhishekgupta368 commented on #169
I can do it. Can you assign me ?

[2020-04-17 06:32] annu12340 commented on #166
may i

[2020-04-17 06:32] Satyam3976 commented on #169
can I work on this issue?

[2020-04-17 06:32] annu12340 commented on #165
may i

[2020-04-17 06:32] shwetagurnani commented on #169
can I work on this issue?

[2020-04-17 06:32] Adyasha8105 commented on #170
Can you assign this issue to me?

[2020-04-17 06:32] annu12340 commented on #164
may i

[2020-04-17 06:32] shwetagurnani commented on #168
can I work on this issue?

[2020-04-17 06:32] darkmatter18 commented on #165
Assign me please

[2020-04-17 06:33] darkmatter18 commented on #170
Assign me please

[2020-04-17 06:33] Satyam3976 commented on #168
can I work on this issue?

[2020-04-17 06:33] darkmatter18 commented on #169
Assign me please

[2020-04-17 06:34] rajats98 commented on #166
@darkmatter18 assigning this to you!

[2020-04-17 06:35] darkmatter18 commented on #166
@rajats98 Okk!!

[2020-04-17 06:36] rajats98 commented on #169
@abhu-A-J Assigning this to you!

[2020-04-17 06:36] Adyasha8105 commented on #164
Can you assign this issue to me?

[2020-04-17 06:38] Satyam3976 commented on #168
I want to work on this issue

[2020-04-17 06:38] rajats98 commented on #164
@Adyasha8105 assigning this to you

[2020-04-17 06:38] rajats98 commented on #167
@abhishekgupta368  assigning this to you

[2020-04-17 06:39] rajats98 commented on #165
@Satyam3976 Assigning it to you!

[2020-04-17 06:40] Adyasha8105 commented on #168
Can you assign this issue to me?

[2020-04-17 06:41] rajats98 commented on #168
@shwetagurnani assigning this to you!

[2020-04-17 06:43] rajats98 commented on #170
This issue is open for all, It does not need assignment, anyone can submit a PR!

[2020-04-17 07:51] #164 closed

[2020-04-17 07:54] rajats98 commented on #165
@Satyam3976 you can start working on this, now #164 is closed

[2020-04-17 08:12] shreyakapoor08 commented on #167
can I do this?

[2020-04-17 08:13] shreyakapoor08 commented on #166
can I work on it?

[2020-04-17 08:13] shreyakapoor08 commented on #165
can I work on this?

[2020-04-17 08:29] rajats98 opened #173 "Add hover effect on Contributors card contributor.html"
Add some hover effect on contributors card, maybe size change, or a bit of movement whatever you like

[2020-04-17 08:30] annu12340 commented on #173
can I work on this issue

[2020-04-17 08:30] shreyakapoor08 commented on #173
can I work on it?

[2020-04-17 08:31] rajats98 commented on #173
@annu12340 assigning this to you!

[2020-04-17 08:33] rajats98 commented on #173
@shreyakapoor08 No more issues to come today(so do not wait for new issue :sweat_smile: ) ! You can try the open to all issues! :100:

[2020-04-17 13:23] #173 closed

[2020-04-17 13:31] #169 closed

[2020-04-17 14:08] #167 closed

[2020-04-17 14:55] #166 closed

[2020-04-18 04:15] #168 closed

[2020-04-18 08:26] rajats98 commented on #165
@Satyam3976 Submit your PR by tomorrow morning!

[2020-04-18 12:31] #165 closed

[2020-04-19 06:30] rajats98 opened #187 "update card details [contributor.html]"
contributor.html
update card details
it will have:
github-username(in place of name)
No bio will be there
repositories the user worked upon => these should be designed as labels/tags(as you see on GitHub issue) give any bg color, and should be linked to corresponding repo(on click repo should open in new tab)

and github icon will remain there.

**Do it ASAP!!**

If there is any doubt, Kindly ask.

[2020-04-19 06:31] rajats98 opened #188 "create a function to create user_card [contributor.js]"
**contributor.js**

## TO BE DONE AFTER ISSUE #187 is resolved

create a function **create_user_card(user)** to create cards ,

input parameter will be object like this
[code]
for repository **tags/labels** fix four background colors (make seperate object for that in beginning of funtion like  {Frontend:color1,Android-Application:color2}, and while styling tags/labels set background as {bg_colors[

[2020-04-19 06:31] Satyam3976 commented on #187
Can i

[2020-04-19 06:31] rajats98 opened #189 "Move file"
move contributor.js inside assets and update contributors.html accordingly.

**Do it ASAP!!**

If there is any doubt, Kindly ask.
Code neatly, Comment nicely!!

[2020-04-19 06:31] abhushanaj commented on #188
@rajats98 Sir May I ??

[2020-04-19 06:31] shwetagurnani commented on #187
assign me

[2020-04-19 06:31] Satyam3976 commented on #188
Can i

[2020-04-19 06:31] darkmatter18 commented on #188
Can I work on it?

[2020-04-19 06:31] shwetagurnani commented on #188
assign me

[2020-04-19 06:31] darkmatter18 commented on #187
Assign me please

[2020-04-19 06:32] rajats98 opened #190 "Update Script tags [contributor.html]"
Check script tags in contributor.html (check src, they can be shortened)
eg : ../contributors page/user_palette.js => ./user_palette.js

If there is any doubt, Kindly ask.
Code neatly, Comment nicely!!

[2020-04-19 06:32] rajats98 opened #191 "Update according to API response!"
index.js
in update_result function change report.Disease with report.category
(because the API returns disease name with "category" as the key)
Do it ASAP!!

If there is any doubt, Kindly ask.
Code neatly, Comment nicely!!

[2020-04-19 06:32] abhishekgupta368 commented on #187
can i do it

[2020-04-19 06:32] darkmatter18 commented on #191
Assign me please

[2020-04-19 06:32] shwetagurnani commented on #190
assign me

[2020-04-19 06:32] rajats98 opened #192 "Update result on ajax response [index.js]"
index.js
remove dummy data (analysis_report_json)
in validateAndDisplay function
		move code below the comment(//on successful response) to success in ajax.
		rename data recevied in success callback parameter as analysis_report_json.

If there is any doubt, Kindly ask.
Code neatly, Comment nicely!!

[2020-04-19 06:32] abhishekgupta368 commented on #188
can i do it ?

[2020-04-19 06:32] Sapna2001 commented on #189
Can i work on this?

[2020-04-19 06:33] abhishekgupta368 commented on #189
can i do it?

[2020-04-19 06:33] shwetagurnani commented on #191
assign me

[2020-04-19 06:33] abhishekgupta368 commented on #191
i can do it

[2020-04-19 06:33] shwetagurnani commented on #189
assign me

[2020-04-19 06:33] rajats98 opened #193 "Update error call back Ajax [index.js]"
index.js
in validateAndDisplay function
		on error call back rename parameter to err (from data),
		add an alert inside it, "Something went wrong, Please try again after some time"

If there is any doubt, Kindly ask.
Code neatly, Comment nicely!!

[2020-04-19 06:34] abhishekgupta368 commented on #192
i can do it

[2020-04-19 06:34] rajats98 opened #194 "Remove unnecessary comments [index.js]"
index.js

find this comment
[code]
and replace it with one line comment (//adding image name)

Remove commented code for form submission also

If there is any doubt, Kindly ask.
Code neatly, Comment nicely!!

[2020-04-19 06:34] rajats98 opened #195 "remove outline from buttons [contributor.html]"
contributor.html
	remove outline(that appears on clicking/focus) from the buttons Participants and Admin and Mentors

If there is any doubt, Kindly ask.
Code neatly, Comment nicely!!

[2020-04-19 06:34] shwetagurnani commented on #192
assign me

[2020-04-19 06:34] abhishekgupta368 commented on #194
i can do it

[2020-04-19 06:34] shwetagurnani commented on #195
assign me

[2020-04-19 06:34] Satyam3976 commented on #195
Can I

[2020-04-19 06:35] abhishekgupta368 commented on #195
i can do it

[2020-04-19 06:36] abhishekgupta368 commented on #193
i can do it

[2020-04-19 06:37] abhushanaj commented on #190
@rajats98 Sir I have already commented on #188  (which is my preference), but if I can take this one as well I would like to take it along with that since no one has commented on it.
**Only if it's possible!**

[2020-04-19 06:48] abhishekgupta368 commented on #190
I can do it.

[2020-04-19 07:03] rajats98 commented on #187
@Satyam3976 Assigning this to you!

[2020-04-19 07:03] annu12340 commented on #194
can i

[2020-04-19 07:04] annu12340 commented on #192
can i

[2020-04-19 07:04] rajats98 commented on #188
@abhu-A-J  Assigning this to you!

[2020-04-19 07:04] annu12340 commented on #193
can i

[2020-04-19 07:04] annu12340 commented on #195
can i do it

[2020-04-19 07:05] rajats98 commented on #189
@Sapna2001 assigning this to you!

[2020-04-19 07:05] Adyasha8105 commented on #195
can i?

[2020-04-19 07:06] rajats98 commented on #191
@darkmatter18 assigning this to you!

[2020-04-19 07:06] rajats98 commented on #192
@abhishekgupta368 Assigning this to you!

[2020-04-19 07:06] annu12340 commented on #190
can i do it

[2020-04-19 07:07] Adyasha8105 commented on #194
can i?

[2020-04-19 07:09] rajats98 commented on #193
@annu12340 Assigning this to you!

[2020-04-19 07:09] rajats98 commented on #194
@Adyasha8105 assigning this to you!

[2020-04-19 07:25] Adyasha8105 commented on #190
Can I as I have completed my other task? @rajats98

[2020-04-19 07:49] shreyakapoor08 commented on #190
can i do this?

[2020-04-19 07:52] #194 closed

[2020-04-19 07:57] #189 closed

[2020-04-19 07:59] rajats98 commented on #190
@shreyakapoor08 Assigning this to you!

[2020-04-19 10:34] #187 closed

[2020-04-19 10:37] rajats98 commented on #188
@abhu-A-J you can start working!! #187 is resolved.
also, decrease the font size of tags!

[2020-04-19 10:40] #192 closed

[2020-04-19 14:51] #193 closed

[2020-04-19 15:36] #190 closed

[2020-04-20 04:13] #195 closed

[2020-04-20 05:25] rajats98 commented on #191
@darkmatter18 Submit this by tonight!

[2020-04-20 07:52] #188 closed

[2020-04-20 12:37] Satyam3976 commented on #191
@darkmatter18 If you have any doubt, feel free to ask it here or on slack.

[2020-04-20 15:06] #191 closed

[2020-04-21 06:32] rajats98 opened #208 "update default_contributors.js"
open contributors.html in browser and from console copy the object
refer #151 to check how to copy properly,
from default_contributors.js remove the previous value of default_contributors_data and paste the copied object

[2020-04-21 06:32] Satyam3976 commented on #208
@shwetagurnani You can take this bug, as I already have a comment on #213

[2020-04-21 06:32] rajats98 opened #209 "remove dummy data from contributor.html"
Remove Dummy data from contributor.html

[2020-04-21 06:32] shwetagurnani commented on #208
Can you assign this issue to me?

[2020-04-21 06:33] rajats98 opened #210 "Show contributors"
inside contributor.js
call create_user_card function for each contributor, inside then of contributor_information

[2020-04-21 06:33] Satyam3976 commented on #210
Can i

[2020-04-21 06:33] rajats98 opened #211 "Add gssoc profile to contributor's card"
contributor.html / js
add gssoc icon before github icon
link it to https://www.gssoc.tech/profile.html?id={login} [to be opened in new tab]
Changes to be done inside create_user_card. (create a const for link first)

[2020-04-21 06:33] shwetagurnani commented on #209
Can you assign this issue to me?

[2020-04-21 06:33] abhushanaj commented on #211
@rajats98 Sir May I ??

[2020-04-21 06:33] Satyam3976 commented on #211
Can I

[2020-04-21 06:33] rajats98 opened #212 "Edit CSS for card"
inside create_user_card function

remove width:18rem;
update col-sm class with col-sm-6 (it will give 6/12 cols to each card)

[2020-04-21 06:33] shwetagurnani commented on #211
can i

[2020-04-21 06:34] rajats98 opened #213 "show loading until response is recevied"
index.html

after clicking submit show loading until response is received
hide both button and show loading icon
Check all use-cases properly. (e.g. it should show buttons while we use Analyze another crop from the result page)
Understand the current code first, and then start implementing!

[2020-04-21 06:34] Satyam3976 commented on #213
Can I

[2020-04-21 06:34] shwetagurnani commented on #213
Can you assign this issue to me?

[2020-04-21 06:34] darkmatter18 commented on #213
Can I

[2020-04-21 06:38] Sapna2001 commented on #212
Can I work on this

[2020-04-21 06:44] annu12340 commented on #211
can i

[2020-04-21 06:44] rajats98 commented on #213
@Satyam3976 assigning this issue to you!

[2020-04-21 06:44] annu12340 commented on #213
can i

[2020-04-21 06:44] annu12340 commented on #212
can i

[2020-04-21 06:44] rajats98 commented on #212
@Sapna2001 assigning this issue to you!

[2020-04-21 06:45] annu12340 commented on #209
can i

[2020-04-21 06:45] rajats98 commented on #211
@abhu-A-J assigning this to you!

[2020-04-21 06:46] rajats98 commented on #209
@annu12340 assigning this to you!

[2020-04-21 06:46] rajats98 commented on #208
@shwetagurnani assigning this to you!

[2020-04-21 06:51] rajats98 commented on #210
@darkmatter18 Do you want to work on this?

[2020-04-21 06:54] darkmatter18 commented on #210
Sure

[2020-04-21 06:55] rajats98 commented on #210
Assigned to you!

[2020-04-21 07:44] #211 closed

[2020-04-21 07:45] #212 closed

[2020-04-21 12:40] abhu-A-J opened #218 "Small CSS Bug on cards"
- **I'm submitting a ...**

  - [x] bug report

- **What is the current behavior?**
  The contributor card on hover covers a portion of the buttons (first two cards on any screen size )

- **What is the expected behavior?**
 The scaling effect is nice but should be reduced a little, so contents don't get hidden as buttons are a way to switch between them.

- **Other information** (e.g. detailed ex

[2020-04-21 12:43] abhu-A-J opened #219 "Small CSS Bug on icons"
- **I'm submitting a ...**
 - [x] bug report

- **What is the current behavior?**
When the Github Icon is hovered it gives an underline effect (which does not make sense) since it's not a text neither a styling effect.

- **What is the expected behavior?**
Remove the underline effect on hovering over.

- **Other information** (e.g. detailed explanation, stack traces, related issues, suggestions ho

[2020-04-21 15:48] rajats98 commented on #218
It's fine, It does not create any problem!
Only a small portion is hidden and that too on hover of another element.

[2020-04-21 15:48] #218 closed

[2020-04-21 16:54] rajats98 commented on #219
@abhu-A-J you can start working on this!

[2020-04-21 17:22] rajats98 commented on #93
@aashimgarg Assigning this to you!

[2020-04-21 17:23] abhushanaj commented on #93
Open for collaborations? I can also provide some good ones here?

[2020-04-21 17:58] rajats98 commented on #93
@abhu-A-J let him start, then you can update if you feel like! :+1:

[2020-04-21 18:55] #213 closed

[2020-04-21 19:01] #219 closed

[2020-04-21 19:41] #208 closed

[2020-04-21 19:44] rajats98 opened #223 "Move index.html"
Move index.html in root directory (move it outside of src) and update all link and script tags carefully!

EDIT: also update the navbar links in contributor.html

[2020-04-21 19:44] shreyakapoor08 commented on #223
can I do this?

[2020-04-21 19:46] rajats98 commented on #223
@shreyakapoor08 assigning this to you!

[2020-04-21 21:22] scortier commented on #223
Sir , if possible can you allot me this task as till now i haven't merge any PR, i have created many pr but no merge are possible.

[2020-04-22 01:41] rajats98 commented on #223
@scortier This issue is already assigned to Shreya!
For now, you can try #170.
Also, join this project's slack channel for to get updated about upcoming issues!

[2020-04-22 06:36] #210 closed

[2020-04-22 06:38] rajats98 commented on #93
@aashimgarg Are you working on this? Give me confirmation by the end of day!

[2020-04-22 06:42] rajats98 commented on #223
@shreyakapoor08 also update the navbar links in contributor.html

[2020-04-22 08:31] rajats98 commented on #209
@annu12340 submit this by today!

[2020-04-22 08:33] aashimgarg commented on #93
yas.

[2020-04-22 08:55] Souvikns commented on #209
Sir, I have removed the dummy data from the contributions.html
https://github.com/CropAi/Frontend/pull/225

[2020-04-22 08:59] annu12340 commented on #209
I will do it shortly

[2020-04-22 09:50] #209 closed

[2020-04-22 20:16] #223 closed

[2020-04-23 06:32] rajats98 opened #229 "Update heading"
index.html
In result section change heading
	Product to Recommended Product

[2020-04-23 06:32] shwetagurnani commented on #229
can i

[2020-04-23 06:32] abhishekgupta368 commented on #229
I can do it. Can you assign me ?

[2020-04-23 06:32] darkmatter18 commented on #229
Assign

[2020-04-23 06:33] rajats98 opened #230 "Update Title on different pages"
index.html/js
Update Title on different pages
Crop AI | Home
Crop AI | Analyze Crop
Crop AI | Analysis Report

[2020-04-23 06:33] abhishekgupta368 commented on #230
I can do it. Can you assign me ?

[2020-04-23 06:33] abhu-A-J commented on #230
@rajats98 Sir May I ??

[2020-04-23 06:33] darkmatter18 commented on #230
Assign

[2020-04-23 06:33] rajats98 opened #231 "Show countdown while loading"
index.html
show 30-sec countdown on while loading result (

[2020-04-23 06:33] abhu-A-J commented on #231
@rajats98 Sir May I ??

[2020-04-23 06:33] abhishekgupta368 commented on #231
I can do it. Can you assign me ?

[2020-04-23 06:33] darkmatter18 commented on #231
Assign

[2020-04-23 06:33] Satyam3976 commented on #231
can i

[2020-04-23 06:33] annu12340 commented on #231
I can do it.

[2020-04-23 06:33] rajats98 opened #232 "Open product links in new tab"
index.js
The links for product should open in new tabs
find the relevant code in update_result function

[2020-04-23 06:34] shwetagurnani commented on #230
can i

[2020-04-23 06:34] darkmatter18 commented on #232
Assign

[2020-04-23 06:34] annu12340 commented on #229
can i

[2020-04-23 06:34] abhishekgupta368 commented on #232
I can do it. Can you assign me ?

[2020-04-23 06:34] rajats98 opened #233 "Delete commented code"
index.js
delete commented code for dummy data i.e const analysis_report_json

[2020-04-23 06:34] pratyushraj7 commented on #229
assign me

[2020-04-23 06:34] rajats98 opened #234 "update url scheme(ROUTES)"
index.html/js
###create PR on dev branch
check and update url scheme(ROUTES) to /analyze, /result
eg. https://cropai.netlify.app/analyze (instead of https://cropai.netlify.app/index.html?q=analyze or https://cropai.netlify.app/?q=analyze)
you will need to create a localhost server,
Refer this: https://stackoverflow.com/questions/38497334/how-to-run-html-file-on-localhost (you can choose any one me

[2020-04-23 06:34] annu12340 commented on #232
can i do it

[2020-04-23 06:34] abhushanaj commented on #234
@rajats98 Sir May I ??

[2020-04-23 06:34] Sapna2001 commented on #229
Can i

[2020-04-23 06:34] abhishekgupta368 commented on #233
I can do it. Can you assign me ?

[2020-04-23 06:34] darkmatter18 commented on #234
Assign

[2020-04-23 06:34] pratyushraj7 commented on #230
assign me please

[2020-04-23 06:34] Satyam3976 commented on #230
can i

[2020-04-23 06:34] abhishekgupta368 commented on #234
I can do it. Can you assign me ?

[2020-04-23 06:35] rajats98 opened #235 "Add random colors to card"
contributor.html/js
Add colors to cards
Select a random color object from user_palette array for each card and apply it to div with class card-body

[2020-04-23 06:35] shwetagurnani commented on #234
can i

[2020-04-23 06:35] annu12340 commented on #234
can i do it

[2020-04-23 06:35] rajats98 opened #236 "Add title contributor"
contributors.html
Add a suitable title

[2020-04-23 06:35] pratyushraj7 commented on #233
can u assign me ?

[2020-04-23 06:35] Satyam3976 commented on #235
can i\

[2020-04-23 06:35] abhishekgupta368 commented on #235
I can do it. Can you assign me ?

[2020-04-23 06:35] annu12340 commented on #233
can i do it

[2020-04-23 06:35] abhishekgupta368 commented on #236
I can do it. Can you assign me ?

[2020-04-23 06:35] Sapna2001 commented on #233
Can i

[2020-04-23 06:35] shwetagurnani commented on #235
can i

[2020-04-23 06:35] pratyushraj7 commented on #236
can u assign me?

[2020-04-23 06:36] Sapna2001 commented on #236
Can i

[2020-04-23 06:38] shwetagurnani commented on #231
can i

[2020-04-23 06:38] Aakansha99 commented on #236
Could you please assign this to me?

[2020-04-23 06:39] Aakansha99 commented on #235
Kindly assign this issue to me

[2020-04-23 06:39] rajats98 commented on #235
@Satyam3976 assigning this to you!

[2020-04-23 06:39] rajats98 commented on #234
@abhu-A-J assigning this to you!

[2020-04-23 06:40] scortier commented on #232
Hello Sir , Plz can you assign me this task as it will be my first task to do in gssoc...plzzz.

[2020-04-23 06:40] Aakansha99 commented on #232
Could you please assign this issue to me

[2020-04-23 06:40] scortier commented on #233
Hello Sir , Plz can you assign me this task as it will be my first task to do in gssoc...plzzz.

[2020-04-23 06:40] abhushanaj commented on #234
Thank you!

[2020-04-23 06:40] scortier commented on #230
Hello Sir , Plz can you assign me this task as it will be my first task to do in gssoc...plzzz.

[2020-04-23 06:40] Aakansha99 commented on #231
Kindly assign this issue to me

[2020-04-23 06:41] scortier commented on #229
Hello Sir , Plz can you assign me this task as it will be my first task to do in gssoc...plzzz.

[2020-04-23 06:41] Aakansha99 commented on #230
Kindly assign this issue to me

[2020-04-23 06:41] Aakansha99 commented on #229
Kindly assign this issue to me

[2020-04-23 06:42] scortier commented on #231
Hello Sir , Plz can you assign me this task as it will be my first task to do in gssoc...plzzz.

[2020-04-23 06:43] scortier commented on #236
Hello Sir , Plz can you assign me this task .

[2020-04-23 06:47] rajats98 opened #237 "Show some hover effect on icons"
contributors.html/css
show hover effect on gssoc and github icon
(some very simple hover effects, so that hover is easily distinguished!)

[2020-04-23 06:47] abhishekgupta368 commented on #237
I can do it. Can you assign me ?

[2020-04-23 06:48] annu12340 commented on #237
can i

[2020-04-23 06:50] rajats98 opened #238 "remove redundant code"
fade class(index.css) might be redundant
first, carefully check, if it is not used-> remove (you need to check index.html and  js files linked to it )
If it is used somewhere tell

[2020-04-23 06:51] Aakansha99 commented on #237
Kindly assign this issue to me

[2020-04-23 06:52] Aakansha99 commented on #238
Kindly assign this issue to me

[2020-04-23 06:53] rajats98 commented on #238
@Aakansha99 assigning this to you!

[2020-04-23 06:54] rajats98 commented on #229
@darkmatter18 assigning this to you!

[2020-04-23 06:54] rajats98 commented on #230
@shwetagurnani assigning this to you!

[2020-04-23 06:55] Adyasha8105 commented on #230
Can i?

[2020-04-23 06:55] rajats98 commented on #232
@abhishekgupta368 assigning this to you!

[2020-04-23 06:56] Adyasha8105 commented on #236
can i?

[2020-04-23 06:56] Adyasha8105 commented on #237
can i?

[2020-04-23 06:56] rajats98 commented on #237
@scortier do you want to work on this?

[2020-04-23 06:56] Adyasha8105 commented on #233
can i?

[2020-04-23 06:57] rajats98 commented on #231
@annu12340 assigning this to you!

[2020-04-23 06:57] Adyasha8105 commented on #231
Can i?

[2020-04-23 06:59] rajats98 commented on #237
@Adyasha8105 assigning this to you!

[2020-04-23 07:00] rajats98 commented on #233
@pratyushraj7 assigning this to you

[2020-04-23 07:00] rajats98 commented on #236
@Sapna2001 assigned this to you!

[2020-04-23 07:01] darkmatter18 commented on #229
@rajats98 I didn't understand what to change. Is it this line ?  https://github.com/CropAi/Frontend/blob/c9b845fa15dae72a1e9e721fe474004c862d15a1/index.html#L111

[2020-04-23 07:05] rajats98 opened #239 "user_cards bottom corners are not round"
contributors.html /js
bottom corners of the card are not round
check by giving background color to div with class card-body
first Discuss how you will do it and then update create_user_card in contributor.js accordingly

[2020-04-23 07:05] abhishekgupta368 commented on #239
can you assign me, I will do both of it

[2020-04-23 07:05] darkmatter18 commented on #239
Assign

[2020-04-23 07:06] rajats98 commented on #229
Recommended Products (instead of products only)

[2020-04-23 07:07] rajats98 commented on #239
@scortier Do you want to work on this?

[2020-04-23 07:08] shreyakapoor08 commented on #239
can I work on it?

[2020-04-23 07:25] abhishekgupta368 commented on #239
can I do it now?

[2020-04-23 07:31] rajats98 commented on #239
@shreyakapoor08 assigning this to you!

[2020-04-23 07:52] #236 closed

[2020-04-23 07:52] #229 closed

[2020-04-23 07:57] #237 closed

[2020-04-23 07:57] #232 closed

[2020-04-23 08:43] #233 closed

[2020-04-23 14:26] #234 closed

[2020-04-23 14:35] #235 closed

[2020-04-23 16:06] abhu-A-J opened #249 "Improvement on LP3"
**I'm submitting a ...**
- [x] bug report on Landing Page Three

 **What is the current behavior?**
-  The page is scrollable
-  The scroll the navigation bar goes in the top of content (navbar is way bigger than it's content)
- Scripts are written in between HTML (makes it difficult to read HTML)
- Many styles are inline, even though separate stylesheet is given
- The content sizes are very big c

[2020-04-23 16:22] #239 closed

[2020-04-23 16:23] rajats98 commented on #93
@aashimgarg do this by tomorrow!

[2020-04-23 16:59] rajats98 commented on #249
@abhu-A-J actually the design is kept like this after discussion, The scroll gives a nice smooth effect on navbar.
refer #133, On small screen content overlaps on scrolling, so it is cool, It looks cool (according to me), the navbars transparency increases when the content is behind.
hamburger for navbar is not required, it is designed like this.

Script point is valid, but it is very compact, I d

[2020-04-23 17:00] rajats98 commented on #249
labels might change after PR review

[2020-04-23 17:08] #230 closed

[2020-04-23 17:16] shwetagurnani opened #251 "Fix indentation in index.js file"
- **I'm submitting a ...**

  - [x] Code styling
  - [ ] bug report
  - [ ] feature request

- **Do you want to request a feature or report a bug?**

- **What is the current behavior?**
Indentation is not correct in index.js file
- **What is the expected behavior?**
Identation should be correct.
- **Other information** (e.g. detailed explanation, stacktraces, related issues, suggestions how to fix

[2020-04-23 17:19] shwetagurnani commented on #251
I want to work on it!

[2020-04-23 17:23] rajats98 commented on #251
use tabs only for indenting!
assigning this to you @shwetagurnani !

[2020-04-23 19:46] shwetagurnani opened #253 "Add Comments in index.js"
- **I'm submitting a ...**
  - [x] Code Styling
  - [ ] bug report
  - [ ] feature request

- **Do you want to request a feature or report a bug?**

- **What is the current behavior?**
   Some functions working is not explained using comments. I want to add some comments to explain their functionality.

- **What is the expected behavior?**
    Comments should be there to explain the functionality

[2020-04-23 19:47] shwetagurnani commented on #253
I want to work on this issue:)

[2020-04-23 19:56] shwetagurnani opened #254 "FIx indentation in landing-3.css"
- **I'm submitting a ...**
  - [x] Code Styling
  - [ ] bug report
  - [ ] feature request

- **Do you want to request a feature or report a bug?**

- **What is the current behavior?**
    Incorrect indentation in landing-3.css

- **What is the expected behavior?**
   Indentation should be correct(line 116-138)
![Screenshot from 2020-04-24 01-21-05](https://user-images.githubusercontent.com/433840

[2020-04-23 19:58] shwetagurnani commented on #254
I want to work on this issue:)

[2020-04-23 21:21] Aakansha99 commented on #254
Kindly assign this issue to me

[2020-04-23 21:21] Aakansha99 commented on #253
Kindly assign this issue to me

[2020-04-24 03:32] #251 closed

[2020-04-24 03:47] rajats98 commented on #254
@shwetagurnani wait for #249 to resolve first, then will check if it is required, and the updated file may need more indentation!

[2020-04-24 07:41] ashishnagpal2498 commented on #253
Can I work on this issue?

[2020-04-24 07:42] ashishnagpal2498 commented on #254
Can I work on this issue?

[2020-04-24 08:28] rajats98 commented on #231
@annu12340 Submit this today!!

[2020-04-24 08:31] abhishekgupta368 commented on #231
please, allow me to do that, I will submit today only

[2020-04-24 09:30] ashishnagpal2498 opened #257 "Empty previous state of image"
- **Bug**
  - [x] bug report

- **What is the current behavior?**
 The UI shows value of previously uploaded image.
![image](https://user-images.githubusercontent.com/36301481/80197274-0b105180-863c-11ea-9498-fcb8e5d52de8.png)

- **What is the expected behavior?**
  State should be emptied.

- **Replicate the behavior**
1) Upload an image
2) Click on change image
3) Select some other file.

Can I

[2020-04-24 09:44] ashishnagpal2498 opened #258 "CSS correction submit button"
- **Bug**
  - [x] bug report
 - Button element going out of div.
![image](https://user-images.githubusercontent.com/36301481/80198858-4ca1fc00-863e-11ea-9e24-1b108676d21b.png)

[2020-04-24 09:51] ashishnagpal2498 opened #260 "UX improvement of image name"
- **Feature**
  - [ ] feature request

- **What is the current behavior?**
![image](https://user-images.githubusercontent.com/36301481/80199112-9b4f9600-863e-11ea-82c4-0629964431bb.png)

- **What is the expected behavior?**
UX improvement-
- Color code of the image display name can be corrected.
- Responsive design
- tooltip on hover, shows complete name.

[2020-04-24 10:30] rajats98 commented on #260
Also make increase its length and reduce fontsize, and increase some character shown!

[2020-04-24 10:38] #231 closed

[2020-04-24 14:54] rajats98 commented on #238
@Aakansha99 Do this ASAP!

[2020-04-24 15:20] #249 closed

[2020-04-24 16:34] abhu-A-J opened #262 "Web Performace Improvement"
**I'm submitting a ...**
 - [x] feature request

Performed a Light House Audit on the deployed app and the results were great in every way. But there is always scope to improve.

Link to report: https://lighthouse-dot-webdotdevsite.appspot.com//lh/html?url=https%3A%2F%2Fcropai.netlify.app

I want to try and hit a near-perfect score (100)  on SEO ( being very optimistic here) .
Also I want to work

[2020-04-24 16:41] rajats98 commented on #254
@shwetagurnani now you can work on this!

[2020-04-24 17:21] aashimgarg commented on #93
what are the github tokens that we can add?

[2020-04-24 17:36] rajats98 commented on #93
are you talking about repo-token ?

[2020-04-24 21:38] #258 closed

[2020-04-24 21:38] #257 closed

[2020-04-25 08:41] aashimgarg commented on #93
i mean to say the github actions that we can add for the website.

[2020-04-25 08:42] aashimgarg commented on #93
you can list those..

[2020-04-25 08:49] rajats98 commented on #93
just set up automations for greetings and labeler
the labeler should add only tag "gssoc20"!

[2020-04-25 09:02] rajats98 opened #268 "Create a license for repository"
Add a GNU GPLv3 license
add license file to docs folder

[2020-04-25 09:02] abhushanaj commented on #268
Can i?

[2020-04-25 09:02] shreyakapoor08 commented on #268
can I do this

[2020-04-25 09:06] rajats98 commented on #268
@abhu-A-J you are already assigned an issue!
@shreyakapoor08 assigning this to you!

[2020-04-25 13:49] Adyasha8105 opened #270 "Add links in contributor page"
I think the links are not working i.e HOME and ANALYZE CROP.
@rajats98 I want to work on it.

screenshots:
![2020-04-25 (8)](https://user-images.githubusercontent.com/54095539/80281642-425d2c00-872a-11ea-95a7-748f809bbe96.png)

[2020-04-25 13:54] abhushanaj commented on #270
@Adyasha8105 You need to run them on the server, since they are not relative anymore!

[2020-04-25 13:58] Adyasha8105 commented on #270
Okay, I got it :)

[2020-04-25 13:58] #270 closed

[2020-04-26 05:31] #238 closed

[2020-04-26 05:31] #268 closed

[2020-04-26 05:33] rajats98 opened #273 "Correct alignment of Analyse other crop button"
Move Analyze other crop button to the center. (result section)

[2020-04-26 05:37] darkmatter18 commented on #273
Assign please

[2020-04-26 05:42] pratyushraj7 commented on #273
Can I do this?

[2020-04-26 06:00] #262 closed

[2020-04-26 06:01] rajats98 commented on #273
@darkmatter18 assigning this to you make PR on dev branch!

[2020-04-26 06:19] rajats98 opened #275 "Update README"
Add a line for LICENSE. (see other repos, how should it be like)
Add a line to thank netlify and heroku for free hosting of our application!
Add links to hosted backend and frontend hyperlink (https://crop-leaf.herokuapp.com and https://cropai.netlify.app/) as hyperlink

[2020-04-26 06:19] abhushanaj commented on #275
May I?

[2020-04-26 06:24] shwetagurnani commented on #275
May I?

[2020-04-26 06:31] afrozchakure commented on #275
May I ?

[2020-04-26 06:38] Kuljeet-123 commented on #275
@rajats98 Can I work on this??

[2020-04-26 06:44] Satyam3976 commented on #275
Can i work on it?

[2020-04-26 06:56] rajats98 commented on #275
@afrozchakure assigning this to you!

@abhu-A-J, @shwetagurnani  He is first-time contributor, So I think you guys understand!
also, @shwetagurnani you are already assigned 2 issues!

[2020-04-26 06:57] rajats98 commented on #275
@afrozchakure make your changes and PR on dev branch

[2020-04-26 06:58] rajats98 commented on #93
@aashimgarg when can I expect this?

[2020-04-26 07:03] rajats98 commented on #253
@shwetagurnani submit this by today!

[2020-04-26 07:04] rajats98 commented on #260
@ashishnagpal2498 submit this by today!

[2020-04-26 07:12] afrozchakure commented on #275
Ok @rajats98 :+1:

[2020-04-26 12:41] abhu-A-J opened #277 "Cards bug"
**I'm submitting a ...**
- [x] bug report

 **Do you want to request a feature or report a bug?**
Contributors Page (small width ) <=575px
- The cards issue and it's consequence discussed in details below.
- The heading should be 10-11px small to avoid scrolling on x-axis.
- Making cards a little small so on click on links (a consequence of hover) it doesn't cover up all the buttons and we have to

[2020-04-26 14:24] rajats98 commented on #277
Yup! reduce the card width(you can also decrease container width), and the "Contributors" heading size for small breakpoint

[2020-04-26 14:39] rajats98 commented on #273
@darkmatter18 also check about and analyse button on small screen size, they should also be horizontally centered.
upgrading this to easy!

[2020-04-26 14:54] rajats98 commented on #273
I think margin of 1rem is problem to class btn-container.. try removing it

[2020-04-26 14:57] rajats98 commented on #93
@abhu-A-J you can start working on issue tomorrow 10 am, if work is not updated!

[2020-04-26 16:08] gauraws commented on #275
Beginner here, can I work on this issue?

[2020-04-26 16:10] gauraws commented on #254
Hey, I am beginner. Can I work on this issue?

[2020-04-26 17:48] rajats98 commented on #254
@gauraws you can't work on this issue, this is already assigned!

[2020-04-26 17:49] rajats98 commented on #275
@gauraws this is already assigned, So you can't!

[2020-04-27 00:04] aashimgarg opened #283 "Adding a back button to return to the previous state of the page."
- **I'm submitting a ...**

  - [ ] bug report
  - [x] feature request

- **Do you want to request a feature or report a bug?**
As after going on the upload an image there is no button to go to the previous page in case you do not want to upload an image.

[2020-04-27 03:01] rajats98 commented on #283
You can use the browser back button to return to the home, or you can use the logo!

[2020-04-27 04:26] rajats98 commented on #283
Though there is option of browser back, we can add.
Add on both analyze and result!..
make pr on dev branch!
check its position/size on each screen size

[2020-04-27 05:36] rajats98 commented on #273
@darkmatter18 do this by today!

[2020-04-27 05:37] #253 closed

[2020-04-27 05:38] #277 closed

[2020-04-27 07:42] afrozchakure commented on #275
![image](https://user-images.githubusercontent.com/40469121/80346614-a269e480-8888-11ea-82fe-5e900dcd345f.png)

@rajats98, wanted to know is this fine or do you want any changes?

[2020-04-27 08:05] rajats98 commented on #275
Cool!

[2020-04-27 08:26] rajats98 opened #285 "update CONTRIBUTING.md"
Update contribution guidelines and instruction, new contributions to be made on the dev branch.

[2020-04-27 08:26] Adyasha8105 commented on #285
can i?

[2020-04-27 08:26] abhu-A-J commented on #285
Can i

[2020-04-27 08:26] darkmatter18 commented on #285
Assign

[2020-04-27 08:27] Satyam3976 commented on #285
can I

[2020-04-27 08:28] shreyakapoor08 commented on #285
can I do this?

[2020-04-27 08:30] rajats98 commented on #285
@Adyasha8105 assigning this to you!

[2020-04-27 09:04] rajats98 commented on #275
@afrozchakure Thanks to our many contributors and to Netlify & Heroku for hosting our application.
Here we can link our contributors' page also, It would be great if you can update it to this!
contributors : https://cropai.netlify.app/src/contributors/

[2020-04-27 10:04] abhu-A-J opened #286 "Responsive Issue on LP-2"
**I'm submitting a ...**
-  [x] bug report

 **What is the current behavior?**
 Responsiveness Problem in general on lp2
-  `>=650px` and `<=700`  range when contents are side by side the image is not proportionate with content. (the text-content break out unevenly and illustration becomes very small)

- In `500` range when contents go column-wise, the image's bottom part gets hidden below the vie

[2020-04-27 10:21] rajats98 commented on #286
@abhu-A-J Assigning this to you!

[2020-04-27 11:44] #285 closed

[2020-04-27 17:11] #260 closed

[2020-04-28 09:01] #254 closed

[2020-04-28 15:47] #275 closed

[2020-04-28 15:48] #93 closed

[2020-04-28 18:42] weekly-digest[bot] opened #292 "Weekly Digest (21 April, 2020 - 28 April, 2020)"
Here's the **Weekly Digest** for [*CropAi/Frontend*](https://github.com/CropAi/Frontend):

 - - -
# ISSUES
Last week 83 issues were created.
Of these, 79 issues have been closed and 4 issues are still open.
## OPEN ISSUES
:green_heart: #289 [Button alignments](https://github.com/CropAi/Frontend/pull/289), by [darkmatter18](https://github.com/darkmatter18)
:green_heart: #286 [Responsive Issue on LP

[2020-04-28 18:50] abhushanaj commented on #292
Wow! this is big!

[2020-04-30 16:34] #273 closed

[2020-04-30 16:34] #286 closed

[2020-04-30 16:44] rajats98 opened #294 "Show loading Icon until contributors are shown"
[contributors]
Show loading Icon until contributors are shown(fetched)

[2020-04-30 16:44] abhushanaj commented on #294
Can I

[2020-04-30 16:45] rajats98 commented on #283
@aashimgarg Update?

[2020-04-30 16:55] Satyam3976 commented on #294
Can I work on this?

[2020-04-30 17:03] rajats98 opened #295 "Add details for disease"
index.html
Add "Disease:"(or something alike)  before the disease name.

[2020-04-30 17:19] Adyasha8105 commented on #295
Can I?

[2020-04-30 17:27] Adyasha8105 commented on #292
its nice :)

[2020-04-30 17:34] aashimgarg commented on #283
working on it.

[2020-04-30 17:48] rajats98 commented on #294
@abhu-A-J assigning this to you!

[2020-04-30 17:48] rajats98 commented on #295
@Adyasha8105 Assigning this to you!

[2020-05-01 17:26] #294 closed

[2020-05-03 15:06] #295 closed

[2020-05-07 14:27] rajats98 commented on #283
@ashishnagpal2498  progress? Do you need more time?

[2020-05-07 17:17] Castella1313 opened #303 "Fixing HTML validator issue in index.html"
Aims to solve the HTML validator issue shown in w3c html validator in index.html

Screenshots:
![Screenshot 2020-05-07 at 10 45 09 PM](https://user-images.githubusercontent.com/53293156/81324471-a5e54300-90b4-11ea-9dec-fb100f044b1b.png)
![Screenshot 2020-05-07 at 10 45 16 PM](https://user-images.githubusercontent.com/53293156/81324473-a7167000-90b4-11ea-9bc2-a0130da7e8bf.png)

[2020-05-07 17:17] Castella1313 commented on #303
Is this a valid issue?

[2020-05-07 17:41] rajats98 commented on #303
Yes @Castella1313, you can work on it!
Make sure while correcting these the design is preserved.

[2020-05-07 17:42] Castella1313 commented on #303
Sure, thanks!!!

[2020-05-08 16:29] rajats98 opened #306 "Check Actions (greeting and label)"
Check labeler and greeting on Pull requests
Try to correct/change them if some error is there, otherwise remove!
(I think greeting label will not work for users other than member of this repo, so remove it)
In case any app needs to be configured, inform!

[2020-05-08 16:30] shreyakapoor08 commented on #306
can I

[2020-05-08 16:30] shwetagurnani commented on #306
I can work on it

[2020-05-08 16:35] rajats98 commented on #306
@shreyakapoor08 assigning this to you!

[2020-05-10 04:46] rajats98 opened #310 "Update working in README"
Add working of the application in README.
Insert relevant screenshots and explain briefly. (Only the Main workflow and functionality, No contributors page, No Landingpage2/3)

**Open PR to dev branch**

[2020-05-10 04:47] abhushanaj commented on #310
Can i?

[2020-05-10 05:15] rajats98 commented on #310
@abhu-A-J Assigning this to you!

[2020-05-10 16:43] #306 closed

[2020-05-10 16:43] #303 closed

[2020-05-10 16:43] #310 closed

[2020-05-10 16:44] weekly-digest[bot] opened #312 "Weekly Digest (3 May, 2020 - 10 May, 2020)"
Here's the **Weekly Digest** for [*CropAi/Frontend*](https://github.com/CropAi/Frontend):

 - - -
# ISSUES
Last week 10 issues were created.
Of these, 9 issues have been closed and 1 issues are still open.
## OPEN ISSUES
:green_heart: #304 [added a back button to return to the previous state](https://github.com/CropAi/Frontend/pull/304), by [aashimgarg](https://github.com/aashimgarg)
## CLOSED ISS

[2020-05-23 06:25] Nehank1709 commented on #283
I would like to work on this. Is this issue still open? @rajats98

[2020-05-24 20:23] rajats98 commented on #283
@Nehank1709 this issue is almost resolved!
You can't work on this now.

[2020-05-29 17:15] #170 closed

[2020-05-29 17:15] #157 closed

[2020-05-29 17:15] #292 closed

[2020-05-29 17:15] #312 closed

[2020-05-30 10:39] #283 closed

[2020-07-05 05:06] weekly-digest[bot] opened #319 "Weekly Digest (28 June, 2020 - 5 July, 2020)"
Here's the **Weekly Digest** for [*CropAi/Frontend*](https://github.com/CropAi/Frontend):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week there was 1 stargazer.
:star:

[2020-07-12 05:06] weekly-digest[bot] opened #320 "Weekly Digest (5 July, 2020 - 12 July, 2020)"
Here's the **Weekly Digest** for [*CropAi/Frontend*](https://github.com/CropAi/Frontend):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week there were no stargazers.

 -